* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  color: #2e3032;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  background: #faf8f5;
  color: #4c5365;
}

html body.font__x2 {
  font-size: 18px;
}

html body.font__x3 {
  font-size: 20px;
}

html body.line__x2 * {
  line-height: 2 !important;
}

html body.line__x3 * {
  line-height: 3 !important;
}

html body.contrast {
  background: #000 !important;
  color: #ff0 !important;
  border-color: #ff0 !important;
}

html body.contrast * {
  background: #000 !important;
  color: #ff0 !important;
  border-color: #ff0 !important;
}

html body.contrast .useful__item__info svg,
html body.contrast .home__post__left .view__all__link svg,
html body.contrast header .wrap__header__nav .header__btn .wrap__language .language__arrow,
html body.contrast header .wrap__menu .nav li .submenu li a svg,
html body.contrast .koolitused__item__location svg,
html body.contrast .koolitused__item .buttons svg,
html body.contrast .buttons.btn__o {
  fill: #ff0 !important;
  background: transparent !important;
}

html body.contrast .home__post .post__list__right li:before,
html body.contrast footer .footer__form:before,
html body.contrast header .wrap__menu li.menu__item__current a:before,
html body.contrast .wrapper__size label span:before {
  background: #ff0 !important;
}

html body.contrast .buttons,
html body.contrast header .wrap__header__nav .header__btn .wrap__language select,
html body.contrast header .wrap__menu .nav li .submenu {
  border: 1px solid #ff0 !important;
}

html body.contrast header .wrap__header__nav .header__btn .wrap__language select {
  background: transparent !important;
}

html body.contrast header .wrap__header__nav .header__btn .wrap__language:after,
html body.contrast header .burger__inner span {
  background-color: #ff0 !important;
}

html body.contrast .wrapper__size::before,
html body.contrast header .wrap__menu .nav li .submenu:before,
html body.contrast .registr__arve label span {
  background: transparent !important;
}

html body .container {
  width: 100%;
  padding-left: 65px;
  padding-right: 65px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  line-height: 1.2;
}

.row:after,
.row:before {
  display: inline-block !important;
}

body a {
  cursor: pointer;
}

body a:hover,
body a:focus {
  text-decoration: none;
}

input[type="submit"] {
  cursor: pointer;
}

button,
input,
textarea,
button:focus {
  outline: none;
}

p {
  font-size: 1em;
}

img {
  max-width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.open-menu {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.no-flex {
  display: block;
}

.row.flex {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row.flex.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row.flex .col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*wrapper*/

.wrapper__size {
  background: #2e3032;
  padding: 32px 0 26px;
  position: relative;
  display: none;
  z-index: 10;
}

.wrapper__size::before {
  display: block;
  position: absolute;
  bottom: -6px;
  content: "";
  background: #2e3032;
  width: 12px;
  height: 12px;
  right: 8.5%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.wrapper__size .wrapper__size__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper__size .wrapper__size__item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper__size .size__title {
  color: #ffffff;
  font-size: 1.375em;
  margin: 0 0 7px;
  font-weight: bold;
}

.wrapper__size label {
  margin: 0 10px 0 0;
  padding: 14px 20px;
  font-weight: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper__size label:first-child {
  padding-left: 0;
}

.wrapper__size label.label__contrast {
  background: #1b1d1e;
}

.wrapper__size label.label__contrast span {
  color: #ffbe58;
}

.wrapper__size label input[type="radio"] {
  display: none;
}

.wrapper__size label span {
  color: #ffffff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.125em;
  padding-left: 40px;
  line-height: 30px;
  cursor: pointer;
}

.wrapper__size label span.size__2 {
  font-size: 1.375em;
}

.wrapper__size label span.size__3 {
  font-size: 1.6875em;
}

.wrapper__size label span:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
}

.wrapper__size label span:after {
  display: block;
  position: absolute;
  content: "";
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #e6e1e1;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wrapper__size label input[type="radio"]:checked + span:after {
  background: #2e3032;
}

.wrapper__size .size__btn {
  padding: 30px 0 0 0;
}

.wrapper__size .size__btn .seaded {
  background: #ffcb4e;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
  box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
  margin-right: 5px;
}

.wrapper__size .size__btn .seaded:hover,
.wrapper__size .size__btn .seaded:focus {
  background: #ffd777;
}

.wrapper__size .size__btn .taasta__reset {
  background: transparent;
  color: #ffffff;
}

.wrapper__size .size__btn .taasta__reset:hover,
.wrapper__size .size__btn .taasta__reset:focus {
  background: #ffffff;
  color: #2e3032;
}

body header {
  background: #ffffff;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
  padding-bottom: 77px;
}

body header .container {
  position: static;
}

body header .header__inner {
  padding: 50px 0;
}

body header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body header .wrap__logo {
  display: block;
  max-width: 270px;
  width: 100%;
}

body header .wrap__burger {
  display: none;
  z-index: 1000;
}

body header .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .burger__inner {
  display: inline-block;
  width: 40px;
  height: 50px;
  padding: 12px 0 12px 10px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}

body header .burger__inner span {
  width: 100%;
  height: 3px;
  background: #2e3032;
  display: block;
  margin: 4px auto;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header.active .burger__inner {
  padding-top: 18px;
}

body header.active .burger__inner span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body header.active .burger__inner span:nth-child(2) {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

body header.active .burger__inner span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -13px;
}

body header .wrap__header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: static;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

body header .wrap__header__nav.active {
  left: 0;
}

body header .wrap__header__nav .nav li {
  display: inline-block;
}

body header .wrap__header__nav .nav li a {
  text-transform: uppercase;
  color: inherit;
  font-size: 1.125em;
  font-weight: bold;
  padding: 10px 15px;
  background: transparent;
}

body header .wrap__header__nav .header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .wrap__header__nav .header__btn .wrap__language {
  margin: 0 11px 0 20px;
  background: #faf8f5;
  position: relative;
  border-radius: 35px;
}

body header .wrap__header__nav .header__btn .wrap__language .language__arrow {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  top: 50%;
  height: 13px;
  right: 18px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body header .wrap__header__nav .header__btn .wrap__language select {
  display: inline-block;
  position: relative;
  z-index: 1px;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 18px 36px 18px 22px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  cursor: pointer;
}

body header .wrap__header__nav .header__btn .wrap__language select:focus {
  outline: none;
}

body header .wrap__header__nav .header__btn .wrap__visual .btn__size {
  background: #faf8f5;
}

body header .wrap__header__nav .header__btn .wrap__visual .btn__size.active {
  color: #ffffff;
  background: #2e3032;
}

body header .wrap__menu {
  background: #2e3032;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

body header .wrap__menu .nav li {
  display: inline-block;
}

body header .wrap__menu .nav li a {
  font-size: 1.125em;
  text-transform: uppercase;
  padding: 28px 30px;
  display: block;
  background: transparent;
  color: #ccd1d6;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .wrap__menu .nav li a .sub__arrow {
  display: none;
  width: 35px;
  padding: 5px 5px 5px 16px;
  vertical-align: middle;
}

body header .wrap__menu .nav li a:hover,
body header .wrap__menu .nav li a:focus {
  background: transparent;
  color: white;
}

body header .wrap__menu .nav li.menu__item__current a {
  background: #ffbe58;
  color: #2e3032;
}

body header .wrap__menu .nav li.menu__item__current a:before {
  display: block;
  width: 100%;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fab835;
  -webkit-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.15);
  height: 4px;
}

body header .wrap__menu .nav li .submenu {
  display: none;
  position: absolute;
  background: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 25px;
  width: 360px;
  left: 0;
  top: 100%;
  -webkit-box-shadow: 0px 12px 37px 0px rgba(46, 48, 50, 0.64);
  box-shadow: 0px 12px 37px 0px rgba(46, 48, 50, 0.64);
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

body header .wrap__menu .nav li .submenu.active {
  display: block;
}

body header .wrap__menu .nav li .submenu:before {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: #ffffff;
  top: -6px;
  left: 30%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

body header .wrap__menu .nav li .submenu li {
  width: 100%;
  margin: 0 0 10px;
  border-radius: 7px;
  background: #faf8f5;
  position: relative;
}

body header .wrap__menu .nav li .submenu li:last-child {
  margin: 0;
}

body header .wrap__menu .nav li .submenu li a {
  font-size: 1.125em;
  font-weight: 400;
  width: 100%;
  padding: 15px 15px;
  text-transform: none;
  color: #2e3032;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .wrap__menu .nav li .submenu li a svg {
  fill: #b1b9c2;
  width: 16px;
}

/*home__post*/

.b_white {
  background: #ffffff;
  border-radius: 12px;
}

.b_gray {
  background: #faf8f5;
  border-radius: 12px;
}

.buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  padding: 18px 30px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 0;
}

.buttons svg {
  width: 18px;
  height: 12px;
  margin-left: 15px;
}

.buttons.btn__o {
  color: #2e3032;
  background: #ffcb4e;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
  box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
}

.buttons.btn__o:hover,
.buttons.btn__o:focus {
  background: #ffd777;
}

.press {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9375em;
  color: #8c8982;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  border: 1px solid #ece7e0;
  padding: 9px 13px;
}

.press.press__date {
  border: 0;
  color: #5a574e;
  padding-left: 0;
}

.home__post {
  padding: 52px 0 90px;
}

.home__post .col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.home__post__first {
  margin-bottom: 22px;
}

.home__post__first__inner {
  padding: 10px 0;
}

.home__post__first .wrap__img img {
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

.home__post__first .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home__post__first .row .col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.home__post__first .home__post__first__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home__post__first .post__date {
  font-size: 1em;
  color: #5a574e;
  margin: 0 18px 0 0;
  font-weight: 600;
}

.home__post__first .post__title {
  font-size: 1.875em;
  color: #2e3032;
  font-weight: bold;
  padding-right: 10px;
  margin: 30px 0;
}

.home__post__first .read__articles {
  color: #2e3032;
  background: #ffcb4e;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
  box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
}

.home__post__first .read__articles:hover,
.home__post__first .read__articles:focus {
  background: #ffd777;
}

.home__post__left {
  padding: 12px 10px 45px;
  width: 100%;
}

.home__post__left .post__list {
  padding-bottom: 35px;
  width: 100%;
}

.home__post__left .post__list__item {
  border-radius: 7px;
  background-color: #faf8f5;
  padding: 25px 22px 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 10px;
}

.home__post__left .post__list__item .post__date {
  font-size: 1em;
  margin: 0 28px 0 0;
}

.home__post__left .post__list__item .post__title {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  font-size: 1.125em;
  font-weight: 500;
  padding-right: 15px;
}

.home__post__left .view__all__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.125em;
  color: #cd9b17;
  font-weight: bold;
  padding-left: 30px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home__post__left .view__all__link:hover,
.home__post__left .view__all__link:focus {
  color: #ffcb4e;
}

.home__post__left .view__all__link:hover svg,
.home__post__left .view__all__link:focus svg {
  fill: #ffcb4e;
}

.home__post__left .view__all__link svg {
  display: inline-block;
  width: 21px;
  fill: #cd9b17;
  margin-left: 1em;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home__post__right {
  padding: 45px 35px;
  width: 100%;
}

.home__post .post__right__title {
  margin: 0 0 32px;
  font-size: 1.75em;
  font-weight: bold;
}

.home__post .post__list__right {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.home__post .post__list__right li {
  border-radius: 7px;
  background-color: #faf8f5;
  padding: 25px 22px 25px 30px;
  display: block;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 15px;
}

.home__post .post__list__right li:before {
  display: block;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  background: #dedbd5;
  width: 10px;
  border-radius: 7px 0 0 7px;
}

.home__post .post__list__right li.p_red:before {
  background: #ff823e;
}

.home__post .post__list__right li.p_orange:before {
  background: #f9bc01;
}

.home__post .post__list__right li .post__date {
  margin: 0 0 8px;
  display: block;
}

.home__post .post__list__right li .post__title {
  font-weight: bold;
  font-size: 1.25em;
}

/*home__banner*/

.home__banner {
  margin: 0 0 80px;
}

.home__banner__item {
  min-height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 130px;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 12px;
}

.home__banner__title {
  font-size: 2.25em;
  color: white;
  font-weight: bold;
  margin: 0 0 50px;
}

.home__banner__link {
  background: #ffffff;
  color: #404245;
}

/*useful*/

.useful {
  margin-bottom: 85px;
}

.useful__inner {
  padding: 62px 62px 25px;
}

.useful__title {
  color: #2e3032;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.875em;
  margin: 0 0 15px;
}

.useful__text {
  max-width: 540px;
  margin: 0 0 60px;
  color: #9ea2a6;
}

.useful__item {
  border-radius: 12px;
  background: #faf8f5;
  padding: 32px 36px 32px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0 0 30px;
}

.useful__item .wrap__img {
  width: 110px;
  margin-right: 10px;
  height: 75px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.useful__item .wrap__img img {
  max-width: 100%;
  max-height: 75px;
}

.useful__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% - 120px);
}

.useful__item__info svg {
  fill: #d5cfc6;
  width: 18px;
}

.useful__item__title {
  font-size: 1.375em;
  color: #2e3032;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 7px;
}

.useful__item__link {
  font-size: 1em;
  display: block;
  color: #0075fd;
}

/*footer*/

footer {
  background: #ffffff;
}

footer .footer__top {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer__logo {
  display: inline-block;
  width: 100%;
  max-width: 305px;
}

footer .footer__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 33%;
  position: relative;
  background: #faf8f5;
  border-radius: 30px;
}

footer .footer__form:before {
  content: "\f002";
  font: normal normal normal 24px/1 FontAwesome;
  color: #2e3032;
  position: absolute;
  right: 6px;
  width: 62px;
  height: calc(100% - 10px);
  border-radius: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #ffbe58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footer__form input {
  width: 100%;
  border-radius: 30px;
  outline: none;
  border: 0;
  padding: 20px 75px 20px 32px;
  background: transparent;
  color: #2e3032;
  font-size: 1em;
  font-weight: 500;
}

footer .footer__form input::-webkit-input-placeholder {
  color: inherit;
}

footer .footer__form input[type="submit"] {
  position: absolute;
  right: 6px;
  font-size: 0;
  width: 62px;
  height: calc(100% - 10px);
  border-radius: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent !important;
  border: 0;
  padding: 0;
}

footer .footer__inner {
  background: #faf8f5;
  border-radius: 15px;
  padding: 25px 28px;
}

footer .footer__inner .col-xs-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__inner .footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer__inner .footer__contact__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 1em;
  color: inherit;
  margin-right: 45px;
}

footer .footer__inner .footer__contact__item a {
  color: inherit;
}

footer .footer__inner .footer__contact__item i {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #959595;
  border-radius: 50%;
  color: #959595;
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 14px;
  font-size: 1.4em;
}

footer .footer__inner .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

footer .footer__inner .footer__nav li {
  display: inline-block;
  margin-left: 40px;
}

footer .footer__inner .footer__nav li:first-child {
  margin-left: 0;
}

footer .footer__inner .footer__nav li a {
  position: relative;
  color: inherit;
  font-weight: 600;
  font-size: 1em;
  background: transparent;
  padding: 5px 0;
}

footer .footer__inner .footer__nav li a:after {
  display: block;
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #2e3032;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -22px;
  border-radius: 50%;
}

footer .footer__inner .footer__nav li:last-child a:after {
  display: none;
}

footer .footer__copy {
  padding: 36px 0;
}

footer .footer__copy p {
  color: inherit;
  margin: 0;
  font-weight: 600;
}

footer .footer__copy p a {
  display: inline-block;
  position: relative;
  padding-left: 16px;
  color: inherit;
  font-size: inherit;
}

footer .footer__copy p a:before {
  display: block;
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: #2e3032;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 4px;
  border-radius: 50%;
}

/*section page*/

.section__page {
  padding: 65px 0;
}

.page__title {
  margin: 0 0 75px;
  font-size: 2.8em;
  font-weight: bold;
}

/*koolitused*/

.koolitused__item {
  margin: 0 0 22px;
  border-radius: 12px;
  padding: 40px 50px 40px 45px;
}

.koolitused__item__time {
  color: #2e3032;
  margin-right: 3px;
}

.koolitused__item__title {
  margin: 15px 0 45px;
  font-size: 1.6875em;
  color: #333537;
  font-weight: bold;
}

.koolitused__item__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.125em;
  color: inherit;
}

.koolitused__item__location svg {
  fill: #ff823e;
  width: 22px;
  margin-right: 10px;
  height: 27px;
}

.koolitused__item .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.koolitused__item .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
}

.koolitused__item .buttons svg {
  width: 17px;
  margin-left: 15px;
}

/*kohtu*/

.link__page {
  display: inline-block;
  color: #ff823e;
  font-weight: bold;
  font-size: 1.25em;
}

.link__page:hover,
.link__page:focus {
  color: #ff823e;
}

.link__page svg {
  fill: #ff823e;
  width: 18px;
  margin-left: 10px;
}

.kohtu__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 45px;
  margin-bottom: 45px;
}

.kohtu__form__inner {
  width: 80%;
}

.kohtu__form__print .btn__print {
  border-radius: 12px;
  border: 1px solid #ee5705;
  background: #ff823e;
  height: 73px;
  padding: 5px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.kohtu__form__print .btn__print svg {
  fill: #ffffff;
  width: 42px;
  height: 38px;
}

.kohtu__form input,
.kohtu__form .nice-select {
  background: #faf8f5;
  border: 1px solid #b8ae9e;
  border-radius: 12px;
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
  padding: 25px 30px;
  font-size: 1.125em;
  color: inherit;
  width: 27%;
  font-weight: 500;
}

.kohtu__form input::-webkit-input-placeholder {
  color: inherit;
}

.kohtu__form .nice-select {
  float: none;
  height: auto;
  line-height: 1;
  padding-right: 75px;
}

.kohtu__form .nice-select:after {
  margin: 0;
  width: 18px;
  height: 15px;
  background: url(../img/icons/arrow-down_gray.svg) no-repeat;
  background-position: center;
  background-size: 18px;
  border: 0;
  -webkit-transform: rotate(0) translateY(-50%);
  -ms-transform: rotate(0) translateY(-50%);
  transform: rotate(0) translateY(-50%);
  top: 50%;
  right: 24px;
}

.kohtu__form .nice-select.open:after {
  -webkit-transform: rotate(0) translateY(-50%);
  -ms-transform: rotate(0) translateY(-50%);
  transform: rotate(0) translateY(-50%);
}

.kohtu__form .nice-select .list {
  width: 100%;
}

.kohtu__form input[type="submit"] {
  width: auto;
  font-size: 1.375em;
  font-weight: bold;
  border: 1px solid #eca433;
  background: #ffbe58;
  line-height: 1;
}

.kohtu__item {
  width: 100%;
  margin-bottom: 35px;
}

.kohtu__item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.kohtu__item__header .kohtu__item_i {
  position: relative;
  cursor: pointer;
}

.kohtu__item__header .kohtu__item_i svg {
  fill: #ff5870;
  width: 34px;
  height: 34px;
}

.kohtu__item__header .kohtu__item_i__info {
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  background: #2e3032;
  display: none;
  font-size: 1em;
  padding: 17px 20px;
  position: absolute;
  right: -10px;
  bottom: 115%;
  white-space: nowrap;
}

.kohtu__item__header .kohtu__item_i__info:before {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2e3032;
  bottom: -10%;
  right: 17px;
}

.kohtu__item__header .kohtu__item_i:hover .kohtu__item_i__info {
  display: block;
}

.kohtu__item__header,
.kohtu__item__body {
  padding: 33px 45px;
  border-bottom: 1px solid #f5f2ed;
}

.kohtu__item__title {
  margin: 0 0 10px;
  color: #333537;
  font-weight: bold;
  font-size: 1.625em;
}

.kohtu__item__tartu {
  background: #faf8f5;
}

.kohtu__item__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 18px;
  font-size: 1.125em;
  font-weight: 500;
}

.kohtu__item__element a {
  color: inherit;
}

.kohtu__item__element svg {
  width: 23px;
  height: auto;
  margin-right: 15px;
}

.kohtu__item__element span {
  display: block;
  margin-bottom: 12px;
}

.kohtu__item__element span:last-child {
  margin: 0;
}

.kohtu__item__element:last-child {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
}

.kohtu__item__footer {
  padding: 25px;
  text-align: center;
  width: 100%;
}

/*page__list*/

.page__submenu_btn {
  display: none;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  margin: 0 0 10px;
}

.page__submenu_btn:after {
  display: block;
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  right: 30px;
  background: url(../img/icons/if_arrow-down-01_186411.svg) no-repeat center;
  background-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page__list {
  padding: 35px 45px;
}

.page__list .nav li {
  margin-bottom: 15px;
}

.page__list .nav li:last-child {
  margin-bottom: 10px;
}

.page__list .nav li a {
  padding: 5px 0;
  color: #333537;
  font-size: 1.3125em;
  font-weight: 500;
  background: transparent;
  display: block;
}

.page__list .nav li a:hover,
.page__list .nav li a:focus {
  background: transparent;
}

.page__list .nav li .page__submenu {
  list-style-type: none;
  padding: 22px 0 10px 0;
}

.page__list .nav li .page__submenu li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 5px;
}

.page__list .nav li .page__submenu li a {
  font-size: 1.25em;
}

.page__list .nav li .page__submenu li:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background: #2e3032;
  content: "";
}

.page__list .nav li .page__submenu li:last-child {
  margin: 0;
}

/*page__content*/

.page__content {
  padding: 52px 45px;
}

.page__content__title {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 0 40px;
}

.page__content p {
  font-size: 1.2em;
  font-weight: 500;
  text-align: justify;
  margin: 0 0 28px;
  line-height: 1.846;
}

.page__content p:last-child {
  margin: 0 0 15px;
}

.page__content .panel-group {
  padding: 25px 0;
}

.page__content .panel-group .panel {
  margin: 0 0 7px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: #faf8f5;
  border-radius: 12px;
}

.page__content .panel-group .panel:first-child .panel-heading .panel-title:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.page__content .panel-group .panel:first-child .panel-heading .panel-title[aria-expanded="false"]:after {
  -webkit-transform: translateY(-50%) rotate(0);
  -ms-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0);
}

.page__content .panel-group .panel .panel-heading {
  background: transparent;
  border: 0;
  padding: 0;
}

.page__content .panel-group .panel .panel-heading .panel-title {
  display: block;
  border-radius: 12px;
  background: #faf8f5;
  font-size: 1.25em;
  font-weight: bold;
  padding: 25px 35px;
  color: inherit;
  position: relative;
}

.page__content .panel-group .panel .panel-heading .panel-title:after {
  display: block;
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  right: 30px;
  background: url(../img/icons/if_arrow-down-01_186411.svg) no-repeat center;
  background-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page__content .panel-group .panel .panel-heading .panel-title[aria-expanded="true"]:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.page__content .panel-group .panel .panel-body {
  border-top: 1px solid #dfd8cd;
  border-radius: 12px;
  font-size: 1.125em;
  line-height: 1.875;
  padding: 30px 35px;
  text-align: justify;
  font-weight: 500;
}

/*team*/

.team {
  padding: 30px 0 0;
}

.team__title {
  text-transform: uppercase;
  margin: 0 0 55px;
  font-weight: bold;
  font-size: 1.375em;
}

.team__img {
  height: 100%;
  width: 155px;
  border-radius: 5px;
  height: 210px;
  margin-right: 40px;
}

.team__item {
  background: #faf8f5;
  border-radius: 12px;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 0 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team__item:last-child {
  margin: 0;
}

.team__item__inner {
  width: 80%;
}

.team__item__title {
  font-size: 1.75em;
  margin: 0 0 16px;
  font-weight: bold;
}

.team__item__element {
  margin: 0 0 12px;
}

.team__item__element:last-child {
  margin: 0;
}

.team__item__element span {
  font-size: 1em;
  font-weight: bold;
}

.team__item__info {
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 500;
}

.team__item__info a {
  color: inherit;
}

/*blog*/

.blog__img {
  border-radius: 5px;
  width: 100%;
  height: 300px;
}

.blog__item {
  width: 100%;
  padding: 18px 17px 45px;
  margin-bottom: 45px;
}

.blog__item__inner {
  padding: 22px 15px 0;
}

.blog__item__date {
  border: 0;
  color: #5a574e;
  padding-left: 0;
}

.blog__item__title {
  font-size: 1.7em;
  margin: 16px 0 25px;
  font-weight: bold;
}

.blog__item__link {
  font-size: 1.125em;
}

.blog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 70px 0 65px;
}

.blog__pagination__prev {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.blog__pagination__next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.blog__pagination svg {
  width: 18px;
  height: 12px;
}

.blog__pagination__inner .blog__btn {
  margin: 0 2px;
}

.blog__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 65px;
  height: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.375em;
  color: inherit;
}

.blog__btn:hover,
.blog__btn:focus {
  color: black;
}

/*in-blog*/

.in-blog {
  padding: 45px;
}

.in-blog__image {
  padding: 0 0 45px 45px;
  border-radius: 5px;
}

.in-blog__subtitle {
  font-size: 1.75em;
  margin: 0 0 15px;
}

.in-blog__title {
  font-size: 2.8em;
  margin: 0 0 14px;
  font-weight: bold;
}

.in-blog__author {
  margin: 22px 0 50px;
}

.in-blog__author__title {
  font-size: 1.375em;
  font-weight: bold;
  margin: 0;
}

.in-blog__author__info {
  font-size: 1.125em;
  margin: 0 0 10px;
  color: #9a9fa3;
}

.in-blog__author a {
  color: inherit;
  font-size: 1.125em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  margin-right: 20px;
  font-weight: 500;
}

.in-blog__author a svg {
  width: 23px;
  height: auto;
  margin-right: 15px;
}

.in-blog__content p {
  padding-right: 50px;
}

.in-blog__recent {
  border-radius: 12px;
  background: #faf8f5;
  padding: 45px 40px 38px;
}

.in-blog__recent__title {
  margin: 0 0 40px;
  font-size: 1.75em;
  font-weight: bold;
}

.in-blog__recent__item {
  padding: 18px 32px 25px;
  margin: 0 0 15px;
}

.in-blog__recent__item__title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 12px 0 0;
}

.in-blog__recent__item:last-child {
  margin: 0;
}

.in-blog__link {
  font-size: 1.25em;
  margin-top: 20px;
}

/*koolitus__in*/

.koolitus__in {
  padding: 35px 45px;
}

.koolitus__in__left {
  padding-right: 10px;
}

.koolitus__in__right {
  padding: 10px 15px 0;
}

.koolitus__in__subtitle {
  font-size: 1.375em;
  color: #333537;
  font-weight: 600;
  margin: 0 0 20px;
}

.koolitus__in__title {
  font-size: 2.25em;
  margin: 0 0 40px;
  font-weight: bold;
  max-width: 90%;
}

.koolitus__in__teemad {
  margin: 0 0 35px;
}

.koolitus__in__teemad__title {
  font-size: 1.375em;
  color: #333537;
  font-weight: bold;
  margin: 0 0 10px;
}

.koolitus__in__teemad p {
  font-size: 1.3em;
  margin: 0;
}

.koolitus__in__programm__title {
  font-size: 1.75em;
  margin: 0 0 35px;
  font-weight: bold;
}

.koolitus__in__programm__item {
  border-radius: 10px;
  background: #faf8f5;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 0 15px;
  width: 100%;
}

.koolitus__in__programm__time {
  font-weight: 500;
  font-size: 1.125em;
  margin-right: 35px;
}

.koolitus__in__programm__info {
  margin: 0;
  font-weight: bold;
  font-size: 1.3em;
}

.koolitus__in__programm__author {
  margin: 5px 0 0;
  font-weight: bold;
  font-size: 0.866em;
  display: block;
}

.koolitus__in__programm__author span {
  font-weight: normal;
  color: #96918a;
}

.koolitus__in__loc__info {
  padding-bottom: 40px;
}

.koolitus__in__loc__info__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 1.125em;
  max-width: 95%;
}

.koolitus__in__loc__info__element span {
  display: inline-block;
  width: calc(100% - 40px);
}

.koolitus__in__loc__info__element span strong {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.koolitus__in__loc__info__element svg {
  fill: #ff823e;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.koolitus__in__esinejad {
  margin-bottom: 100px;
}

.koolitus__in__esinejad__title {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0 0 32px;
}

.koolitus__in__esinejad__item {
  background: #faf8f5;
  border-radius: 10px;
  padding: 25px 32px;
  margin-bottom: 12px;
}

.koolitus__in__esinejad__item:last-child {
  margin: 0;
}

.koolitus__in__esinejad__item h4 {
  font-size: 1.375em;
  margin: 0;
  font-weight: bold;
}

.koolitus__in__esinejad__item p {
  font-size: 1.125em;
  color: #96918a;
  margin: 0;
}

.koolitus__in__price {
  background: #faf8f5;
  border-radius: 10px;
  padding: 28px 30px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.koolitus__in__price span {
  font-size: 1.125em;
  display: block;
  margin: 0;
}

.koolitus__in__price__item__num {
  font-size: 2.125em;
  font-weight: 600;
}

.koolitus__in__info__alates {
  font-weight: bold;
  font-size: 1.125em;
}

.koolitus__in__info__alates span {
  font-weight: 500;
  color: #8c96a1;
  display: block;
  margin: 5px 0 0;
}

.koolitus__in__info__reg {
  color: #8c96a1;
  font-size: 1.125em;
  font-weight: 500;
}

.koolitus__in__info__reg span {
  color: #ff823e;
  display: block;
  margin: 12px 0 0;
  font-weight: 600;
}

.koolitus__in__link {
  margin: 50px 0 35px;
  font-size: 1.125em;
}

/*registr*/

label.label__checkbox {
  margin: 0;
}

label.label__checkbox input {
  display: none;
}

label.label__checkbox input[type="checkbox"]:checked + .checkbox__content:before {
  border: 2px solid #6ece87;
}

label.label__checkbox input[type="checkbox"]:checked + .checkbox__content:after {
  background-color: #6ece87;
  background-image: url(../img/icons//if_Ok_984756.svg);
  background-position: center;
  background-size: 13px;
  background-repeat: no-repeat;
}

label.label__checkbox .checkbox__content {
  padding: 10px 10px 10px 40px;
  position: relative;
  display: block;
  font-size: 1.125em;
  font-weight: normal;
  cursor: pointer;
}

label.label__checkbox .checkbox__content a {
  color: #3d84fe;
  text-decoration: underline;
}

label.label__checkbox .checkbox__content:before {
  width: 30px;
  height: 30px;
  border: 2px solid #dad2c5;
  background: white;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

label.label__checkbox .checkbox__content:after {
  width: 20px;
  height: 20px;
  background-color: #dad2c5;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px;
}

.registr__inner {
  padding: 40px 45px;
  margin-bottom: 55px;
}

.registr__inner.registr__inner__total {
  padding: 0;
}

.registr__inner:last-child {
  margin-bottom: 20px;
}

.registr__title {
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 2.25em;
}

.registr__subtitle {
  margin: 0 0 35px;
  font-weight: bold;
  font-size: 1.75em;
}

.registr__item {
  padding: 25px 35px;
  margin-bottom: 35px;
}

.registr__item__date {
  font-size: 1.125em;
  display: block;
  margin: 0 0 10px;
  font-weight: 500;
}

.registr__item p {
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
}

.registr__price__title {
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 1.75em;
}

.registr__price label {
  margin: 0 20px 0 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 310px;
  cursor: pointer;
}

.registr__price label input {
  display: none;
}

.registr__price label input:checked + .registr__price__item {
  background: #eeeae5;
  -webkit-box-shadow: inset 0px 6px 0px 0px rgba(234, 228, 218, 0.4);
  box-shadow: inset 0px 6px 0px 0px rgba(234, 228, 218, 0.4);
  border: 2px solid #cdc4b7;
}

.registr__price label input:checked + .registr__price__item:before {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(226, 218, 208, 0.4);
  box-shadow: 0px 3px 0px 0px rgba(226, 218, 208, 0.4);
  border: 1px solid #d1cdc7;
}

.registr__price label input:checked + .registr__price__item:after {
  background: #f39f35;
}

.registr__price label input:checked + .registr__price__item .registr__price__item__num {
  border: 1px solid #cec3b4;
}

.registr__price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 7px;
  border: 2px solid #e3ddd4;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(170, 159, 142, 0.05);
  box-shadow: 0px 4px 0px 0px rgba(170, 159, 142, 0.05);
  padding: 15px 15px 15px 65px;
  background: #faf8f5;
  width: 100%;
  position: relative;
}

.registr__price__item:before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(248, 243, 235, 0.04);
  box-shadow: 0px 3px 0px 0px rgba(248, 243, 235, 0.04);
  background: #ffffff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 22px;
  border: 1px solid #f7eee2;
}

.registr__price__item:after {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ddd5c8;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 29px;
}

.registr__price__item__name {
  font-size: 1.125em;
  font-weight: bold;
}

.registr__price__item__num {
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  padding: 8px 13px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #ece7e0;
}

.registr__list__item {
  position: relative;
  padding: 3px 3px 3px 46px;
  border-radius: 7px;
  background: #faf8f5;
  margin-bottom: 22px;
}

.registr__list__item__num {
  background: #ffffff;
  position: absolute;
  width: 40px;
  height: calc(100% - 6px);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.35em;
  color: #767c83;
  font-weight: 500;
  left: 3px;
  border-radius: 7px 0 0 7px;
}

.registr__list__item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 25px;
}

.registr__list__item__inner label {
  margin: 0 20px 0 0;
  font-weight: normal;
}

.registr__list__item__inner input {
  font-size: 1.125em;
  color: #333537;
  border: 2px solid #dfd9d0;
  border-radius: 7px;
  padding: 15px 18px;
  width: 100%;
  max-width: 315px;
  font-weight: 500;
}

.registr__list__item__inner input::-webkit-input-placeholder {
  color: #333537;
}

.registr__list__item__label__name {
  font-size: 1em;
  color: #a39c92;
  display: block;
  margin: 0 0 6px;
}

.registr__list__btn {
  padding: 15px 0 0 0;
}

.registr__list__btn__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: bold;
  color: inherit;
  margin-right: 43px;
}

.registr__list__btn__item:last-child {
  margin: 0;
}

.registr__list__btn__item:hover,
.registr__list__btn__item:focus {
  color: inherit;
}

.registr__list__btn__item.btn__minus span {
  background: #ff6678;
}

.registr__list__btn__item span {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 900;
  color: #ffffff;
  background: #2574f6;
  margin-right: 15px;
}

.registr__list .label__checkbox {
  margin-top: 20px;
  margin-left: 15px;
}

.registr__arve label {
  font-weight: normal;
  margin: 0 0 22px;
  border-radius: 7px;
  border: 2px solid #d4cec6;
  background-color: #faf8f5;
  position: relative;
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.registr__arve label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.375em;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  display: block;
}

.registr__arve label input {
  background: transparent;
  border: 0;
  font-size: 1.375em;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
}

.registr__arve label.active span {
  font-size: 0.9375em;
  color: #a39c92;
  font-weight: normal;
  position: relative;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  top: 0;
}

.registr__total {
  padding: 30px 45px 30px;
}

.registr__total table {
  margin-bottom: 20px;
}

.registr__total table td {
  font-size: 1.75em;
  font-weight: 500;
  padding: 10px 50px 10px 0;
}

.registr__total table tr:last-child td {
  font-weight: bold;
}

.registr__total .label__checkbox {
  display: block;
}

.registr__total__footer {
  padding: 45px;
  border-top: 1px solid #f3f0ea;
}

.registr__total__footer p {
  margin: 0;
  font-size: 1.125em;
}

.registr__total__footer__in {
  text-align: right;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  body header .wrap__menu .nav li:hover .submenu {
    display: block;
  }
}

@media only screen and (max-width: 1680px) {
  html body {
    font-size: 15px;
  }

  html body .container {
    padding-left: 45px;
    padding-right: 45px;
  }

  body header {
    padding-bottom: 68px;
  }

  body header .wrap__menu .nav li a {
    padding: 24px 26px;
  }

  .buttons {
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 1600px) {
  .wrapper__size .size__title {
    margin: 0 0 4px;
  }

  .wrapper__size label {
    padding: 10px 12px;
  }

  .wrapper__size label span {
    padding-left: 35px;
  }

  .wrapper__size label span:before {
    width: 24px;
    height: 24px;
  }

  .wrapper__size label span:after {
    width: 12px;
    height: 12px;
    left: 6px;
  }

  body header .header__inner {
    padding: 40px 0;
  }

  .home__post {
    padding: 50px 0 75px;
  }

  .home__post__first .post__title {
    margin: 25px 0;
    font-size: 1.6em;
  }

  .home__post__left {
    padding: 12px  10px 35px;
  }

  .home__post__left .post__list {
    padding-bottom: 30px;
  }

  .home__post__left .post__list__item {
    padding: 20px 20px 20px 25px;
  }

  .home__post__right {
    padding: 40px 25px;
  }

  .home__post .post__list__right li {
    padding: 20px 15px 20px 25px;
  }

  .home__post .post__list__right li:before {
    width: 8px;
  }

  .home__post .post__list__right li .post__title {
    font-size: 1.125em;
  }

  .home__banner {
    margin: 0 0 60px;
  }

  .home__banner__item {
    min-height: 400px;
    padding: 30px 75px;
  }

  .useful {
    margin-bottom: 65px;
  }

  .useful__inner {
    padding: 50px 50px 20px;
  }

  .useful__text {
    margin: 0 0 45px;
  }

  .useful__item {
    margin: 0 0 25px;
    padding: 25px 20px 25px 14px;
  }

  .useful__item .wrap__img {
    width: 90px;
  }

  .useful__item__info {
    width: calc(100% - 100px);
  }

  .useful__item__info svg {
    width: 16px;
  }

  .useful__item__title {
    margin: 0 0 4px;
  }

  footer .footer__top {
    padding: 45px 0;
  }

  footer .footer__inner {
    padding: 20px 24px;
  }

  footer .footer__inner .footer__contact__item {
    margin-right: 30px;
  }

  footer .footer__inner .footer__contact__item i {
    width: 34px;
    height: 34px;
    font-size: 1.25em;
  }

  .section__page {
    padding: 55px 0;
  }

  .page__title {
    margin-bottom: 60px;
  }

  .koolitused__item {
    padding: 35px 40px;
  }

  .koolitused__item__title {
    margin: 15px 0 35px;
  }

  .kohtu__form {
    margin-bottom: 40px;
    padding: 40px;
  }

  .kohtu__form__print .btn__print {
    height: 68px;
    padding: 5px 18px;
  }

  .kohtu__form input,
  .kohtu__form .nice-select {
    padding: 23px 28px;
  }

  .kohtu__item {
    margin-bottom: 30px;
  }

  .kohtu__item__header,
  .kohtu__item__body {
    padding: 28px 40px;
  }

  .page__list {
    padding: 30px 40px;
  }

  .page__list .nav li .page__submenu {
    padding: 18px 0 8px;
  }

  .page__content {
    padding: 45px 40px;
  }

  .page__content__title {
    margin: 0 0 35px;
  }

  .page__content p {
    margin: 0 0 24px;
    font-size: 1.125em;
    line-height: 1.75;
  }

  .page__content .panel-group {
    padding: 15px 0;
  }

  .page__content .panel-group .panel .panel-heading .panel-title {
    padding: 22px 30px;
  }

  .page__content .panel-group .panel .panel-body {
    padding: 24px 30px;
  }

  .team {
    padding-top: 20px;
  }

  .team__title {
    margin-bottom: 45px;
  }

  .team__img {
    margin-right: 28px;
  }

  .team__item {
    padding: 25px;
  }

  .team__item__element {
    margin-bottom: 10px;
  }

  .blog__item {
    margin-bottom: 35px;
    padding: 15px 15px 40px;
  }

  .blog__pagination {
    padding: 40px 0;
  }

  .blog__btn {
    width: 60px;
    height: 60px;
  }

  .in-blog__image {
    padding: 0 0 30px 40px;
  }

  .in-blog__author {
    margin: 18px 0 40px;
  }

  .in-blog__content p {
    padding-right: 30px;
  }

  .in-blog__recent {
    padding: 40px 30px 35px;
  }

  .in-blog__recent__title {
    margin: 0 0 30px;
  }

  .in-blog__recent__item {
    padding: 18px 24px 25px;
  }

  .koolitus__in__left {
    padding: 0;
  }

  .koolitus__in__right {
    padding: 10px 10px 0;
  }

  .koolitus__in__programm__item {
    padding: 28px;
  }

  .koolitus__in__loc__info {
    padding-bottom: 30px;
  }

  .koolitus__in__esinejad {
    margin-bottom: 80px;
  }

  .registr__inner {
    padding: 30px 35px 35px;
    margin-bottom: 45px;
  }

  .registr__item {
    padding: 20px 25px;
  }

  .registr__arve label {
    height: 84px;
  }

  .registr__total {
    padding: 30px 35px 25px;
  }

  .registr__total__footer {
    padding: 35px;
  }
}

@media only screen and (max-width: 1439px) {
  html body {
    font-size: 14px;
  }

  html body .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 1140px;
    margin: 0 auto;
  }

  .wrapper__size::before {
    right: 16.5%;
  }

  .wrapper__size .wrapper__size__item__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wrapper__size label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px 15px 5px 0;
  }

  .wrapper__size label span {
    display: block;
    width: 100%;
  }

  body header .header__inner {
    padding: 30px 0;
  }

  .home__post__right {
    padding: 30px 20px 20px;
  }

  .home__post .post__right__title {
    margin: 0 0 25px;
  }

  .home__post .post__list__right li {
    padding: 15px 14px 15px 20px;
  }

  .home__post .post__list__right li:before {
    width: 6px;
  }

  .home__banner__item {
    padding: 30px 50px;
  }

  .useful {
    margin-bottom: 45px;
  }

  .useful__inner {
    padding: 40px 35px 20px;
  }

  .useful__title {
    margin: 0 0 12px;
  }

  .useful__text {
    margin: 0 0 35px;
  }

  .useful__item {
    padding: 20px 15px 20px 14px;
  }

  .useful__item .wrap__img {
    width: 70px;
  }

  .useful__item__info {
    width: calc(100% - 80px);
  }

  footer .footer__top {
    padding: 35px 0;
  }

  footer .footer__inner .col-xs-12 {
    width: 50%;
  }

  footer .footer__inner .footer__contact__item {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  footer .footer__inner .footer__nav li {
    margin-left: 28px;
  }

  footer .footer__inner .footer__nav li a:after {
    right: -16px;
  }

  .section__page {
    padding: 50px 0;
  }

  .page__title {
    margin-bottom: 50px;
  }

  .koolitused__item {
    padding: 30px;
    margin: 0 0 18px;
  }

  .koolitused__item__title {
    margin: 15px 0 25px;
  }

  .kohtu__form {
    margin-bottom: 30px;
    padding: 25px;
  }

  .kohtu__form__print .btn__print {
    height: 60px;
    padding: 5px 15px;
  }

  .kohtu__form__print .btn__print svg {
    width: 35px;
    height: 32px;
  }

  .kohtu__form input,
  .kohtu__form .nice-select {
    padding: 20px 23px;
  }

  .kohtu__form .nice-select:after {
    right: 10px;
  }

  .kohtu__item__header,
  .kohtu__item__body {
    padding: 24px 30px;
  }

  .kohtu__item__element {
    margin: 0 0 14px;
  }

  .kohtu__item__footer {
    padding: 20px;
  }

  .page__list {
    padding: 24px 30px;
  }

  .page__list .nav li {
    margin-bottom: 10px;
  }

  .page__list .nav li .page__submenu {
    padding: 14px 0 4px;
  }

  .page__content {
    padding: 35px 30px;
  }

  .page__content .panel-group {
    padding: 5px 0;
  }

  .page__content .panel-group .panel .panel-heading .panel-title {
    padding: 18px 25px;
  }

  .page__content .panel-group .panel .panel-heading .panel-title:after {
    background-size: 16px;
  }

  .page__content .panel-group .panel .panel-body {
    padding: 20px 25px;
  }

  .team {
    padding-top: 15px;
  }

  .team__title {
    margin-bottom: 35px;
  }

  .team__img {
    margin-right: 20px;
  }

  .team__item {
    padding: 20px 15px;
  }

  .blog__img {
    height: 260px;
  }

  .blog__item {
    margin-bottom: 30px;
  }

  .blog__item__inner {
    padding: 18px 12px 0;
  }

  .blog__item__title {
    font-size: 1.6em;
  }

  .blog__pagination {
    padding: 30px 0 25px;
  }

  .in-blog__image {
    padding: 0 0 20px 0;
  }

  .in-blog__author {
    margin: 15px 0 25px;
  }

  .in-blog__content p {
    padding-right: 0;
  }

  .in-blog__recent {
    padding: 30px 20px 30px;
  }

  .in-blog__recent__title {
    margin-bottom: 25px;
  }

  .in-blog__recent__item {
    padding: 15px 18px 20px;
  }

  .in-blog__link {
    margin-top: 10px;
  }

  .koolitus__in {
    padding: 30px;
  }

  .koolitus__in__right {
    padding: 0;
  }

  .koolitus__in__programm__item {
    padding: 20px 24px;
  }

  .koolitus__in__programm__time {
    margin-right: 25px;
  }

  .koolitus__in__loc__info {
    padding-bottom: 15px;
  }

  .koolitus__in__loc__info__element {
    margin: 0 0 15px;
    max-width: 100%;
  }

  .koolitus__in__esinejad {
    margin-bottom: 50px;
  }

  .koolitus__in__esinejad__item {
    padding: 20px 24px;
  }

  .koolitus__in__price {
    padding: 20px 24px;
    margin-bottom: 35px;
  }

  .koolitus__in__link {
    margin: 40px 0 30px;
  }

  .registr__list__item {
    margin-bottom: 18px;
  }

  .registr__list__item__inner {
    padding: 14px 20px;
  }

  .registr__list .label__checkbox {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1199px) {
  html body .container {
    width: 960px;
  }

  body header {
    padding-bottom: 52px;
  }

  body header .wrap__menu .nav li a {
    padding: 17px 20px;
  }

  .home__post {
    padding: 40px 0 55px;
  }

  .home__post__first__inner {
    padding: 30px 0 10px;
  }

  .home__post__first .row .col-xs-12 {
    display: block;
  }

  .home__post__left {
    padding: 20px 20px 30px;
    margin-bottom: 30px;
  }

  .home__post__left .post__list {
    padding-bottom: 20px;
  }

  .home__banner {
    margin: 0 0 45px;
  }

  .home__banner__item {
    min-height: 350px;
  }

  .home__banner__title {
    margin: 0 0 35px;
    font-size: 2em;
  }

  .useful__inner {
    padding: 30px 30px 20px;
  }

  footer .footer__inner .footer__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  footer .footer__inner .footer__nav li {
    display: block;
    width: 100%;
  }

  footer .footer__inner .footer__nav li {
    margin-left: 0;
    text-align: center;
  }

  footer .footer__inner .footer__nav li a {
    padding: 10px 15px;
  }

  footer .footer__inner .footer__nav li a:after {
    display: none;
  }

  .kohtu__form {
    padding: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .kohtu__form__inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .kohtu__form__print {
    width: 100%;
    text-align: right;
    margin-top: 15px;
  }

  .team__item__inner {
    width: 70%;
  }

  .in-blog__recent {
    padding: 25px 15px 25px;
  }

  .koolitus__in__right {
    padding: 20px 0;
  }

  .koolitus__in__subtitle {
    margin: 0 0 15px;
  }

  .koolitus__in__title {
    max-width: 100%;
    font-size: 1.9em;
  }

  .koolitus__in__programm__time {
    margin-right: 15px;
  }

  label.label__checkbox input[type="checkbox"]:checked + .checkbox__content:after {
    background-size: 11px;
  }

  label.label__checkbox .checkbox__content:before {
    width: 24px;
    height: 24px;
  }

  label.label__checkbox .checkbox__content:after {
    width: 14px;
    height: 14px;
  }

  .registr__inner {
    padding: 30px 25px;
  }

  .registr__subtitle {
    margin-bottom: 25px;
  }

  .registr__item {
    padding: 20px;
    margin-bottom: 30px;
  }

  .registr__list__btn {
    padding-top: 5px;
  }

  .registr__arve label {
    height: 70px;
  }

  .registr__total {
    padding: 25px;
  }

  .registr__total table td {
    font-size: 1.5em;
    padding: 7px 40px 7px 0;
  }

  .registr__total__footer {
    padding: 25px;
  }
}

@media only screen and (max-width: 991px) {
  html body .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper__size {
    padding: 25px 0;
    height: calc(100vh - 120px);
    overflow-y: auto;
  }

  body header {
    padding-bottom: 0;
  }

  body header .wrap__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  body header .wrap__burger .burger__menu {
    font-size: 1.5em;
    font-weight: bold;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  body header.active .wrap__burger .burger__menu {
    display: none;
  }

  body header .wrap__header__nav {
    position: absolute;
    left: -100%;
    top: 0;
    background: #faf8f5;
    width: 100%;
    height: 100vh;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    z-index: 999;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  body header .wrap__header__nav.fix {
    overflow: hidden;
  }

  body header .wrap__header__nav .header__btn .wrap__language {
    background: #ffffff;
  }

  body header .wrap__header__nav .header__btn .wrap__visual .btn__size {
    position: absolute;
    top: 40px;
    background: #ffffff;
    left: 30px;
  }

  body header .wrap__menu {
    position: static;
    background: transparent;
    padding-top: 15px;
  }

  body header .wrap__menu .container {
    padding: 0;
  }

  body header .wrap__menu .nav li {
    display: block;
    width: 100%;
  }

  body header .wrap__menu .nav li a .sub__arrow {
    display: inline-block;
  }

  body header .wrap__menu .nav li a {
    font-size: 1.5em;
    padding: 15px 10px;
    color: #2e3032;
  }

  body header .wrap__menu .nav li a:hover,
  body header .wrap__menu .nav li a:focus {
    color: #2e3032;
  }

  body header .wrap__menu .nav li .submenu {
    position: static;
    width: 100%;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 20px 10px;
  }

  body header .wrap__menu .nav li .submenu:before {
    display: none;
  }

  body header .wrap__menu .nav li .submenu li {
    background: #ffffff;
  }

  .home__banner {
    margin: 0 0 30px;
  }

  .home__banner__item {
    min-height: auto;
    padding: 45px 25px;
    text-align: center;
    margin: 0 0 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer .footer__form {
    width: 45%;
  }

  footer .footer__inner .footer__contact__item {
    width: 100%;
    margin: 0 0 10px;
  }

  .section__page {
    padding: 40px 0;
  }

  .page__title {
    margin-bottom: 35px;
    font-size: 2.4em;
  }

  .koolitused__item {
    padding: 20px 20px 30px;
  }

  .koolitused__item__title {
    margin: 15px 0 20px;
  }

  .koolitused__item .col-lg-4 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .kohtu__form {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .kohtu__form__inner {
    width: 83%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .kohtu__form__print {
    width: 17%;
    margin-top: 0;
  }

  .kohtu__form input,
  .kohtu__form .nice-select {
    width: 48%;
    margin-bottom: 10px;
  }

  .page__submenu_btn {
    display: block;
  }

  .page__submenu_btn.active:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }

  .page__list {
    margin-bottom: 25px;
    display: none;
    padding: 20px;
  }

  .page__content {
    padding: 30px 20px;
  }

  .page__content__title {
    margin: 0 0 25px;
    font-size: 2em;
  }

  .registr__total__footer__in {
    text-align: center;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper__size .wrapper__size__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .wrapper__size .wrapper__size__item {
    width: 100%;
    margin: 0 0 20px;
  }

  .wrapper__size .size__btn {
    padding: 15px 0 0;
  }

  .home__post__left {
    padding: 20px 15px 30px;
  }

  .home__post__left .post__list__item {
    padding: 15px;
  }

  .home__post__left .post__list__item .post__date {
    margin: 0 20px 0 0;
  }

  .home__post__right {
    padding: 30px 15px 20px;
  }

  .home__banner {
    margin: 0 0 20px;
  }

  .home__banner__item {
    padding: 40px 20px;
  }

  .home__banner__title {
    font-size: 1.75em;
    margin: 0 0 25px;
  }

  .useful__inner {
    padding: 30px 20px 10px;
  }

  .useful__item {
    margin: 0 0 15px;
  }

  footer .footer__top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer .footer__form {
    width: 90%;
    margin: 20px auto 0;
  }

  footer .footer__inner {
    padding: 20px 15px;
  }

  footer .footer__inner .col-xs-12 {
    width: 100%;
  }

  footer .footer__inner .footer__contact {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 10px;
  }

  footer .footer__inner .footer__contact__item i {
    margin: 0 10px 0 0;
  }

  footer .footer__copy {
    padding: 25px 0;
  }

  footer .footer__copy p {
    line-height: 1.5;
  }

  .kohtu__form {
    padding: 15px;
  }

  .kohtu__form__inner {
    width: 100%;
  }

  .kohtu__form__print {
    margin-top: -60px;
    width: 100%;
  }

  .kohtu__form__print .btn__print {
    height: auto;
    padding: 10px;
  }

  .kohtu__form__print .btn__print svg {
    width: 25px;
    height: 25px;
  }

  .kohtu__form input,
  .kohtu__form .nice-select {
    width: 100%;
    padding: 17px 18px;
    margin-right: 0;
  }

  .kohtu__form input[type="submit"] {
    padding: 15px 20px;
  }

  .page__content {
    padding: 25px 15px;
  }

  .page__content__title {
    font-size: 1.75em;
  }

  .team__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .team__item__inner {
    width: 100%;
    padding-top: 15px;
  }

  .blog__item {
    padding: 15px 15px 25px;
  }

  .blog__item__inner {
    padding: 18px 6px 0;
  }

  .blog__pagination {
    padding: 20px 0 15px;
  }

  .blog__pagination svg {
    width: 15px;
    height: 10px;
  }

  .blog__pagination__inner .blog__btn {
    margin: 0;
  }

  .blog__btn {
    width: 38px;
    height: 38px;
  }

  .in-blog__title {
    font-size: 2em;
  }

  .koolitus__in {
    padding: 20px 15px;
  }

  .koolitus__in__title {
    font-size: 1.75em;
    margin: 0 0 30px;
  }

  .koolitus__in__teemad {
    margin: 0 0 25px;
  }

  .koolitus__in__programm__title {
    margin: 0 0 25px;
  }

  .koolitus__in__programm__item {
    padding: 18px;
  }

  .koolitus__in__programm__time {
    margin-right: 12px;
  }

  .koolitus__in__esinejad {
    margin-bottom: 30px;
  }

  .koolitus__in__esinejad__title {
    margin: 0 0 25px;
  }

  .koolitus__in__esinejad__item {
    padding: 18px;
  }

  .koolitus__in__price {
    padding: 18px;
  }

  .koolitus__in__price__item__num {
    font-size: 2em;
  }

  .koolitus__in__link {
    margin: 30px 0;
  }

  .registr__inner {
    padding: 25px 15px;
  }

  .registr__title {
    font-size: 2em;
  }

  .registr__subtitle {
    font-size: 1.5em;
  }

  .registr__item {
    padding: 18px;
  }

  .registr__price__title {
    font-size: 1.5em;
  }

  .registr__price label {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .registr__list__item__inner {
    padding: 14px 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .registr__list__item__inner label {
    width: 100%;
    margin: 0 0 15px;
  }

  .registr__list__item__inner input {
    max-width: 100%;
  }

  .registr__list__btn__item {
    width: 100%;
    margin: 0 0 15px;
  }

  .registr__list .label__checkbox {
    margin: 0;
  }

  .registr__arve label {
    margin-bottom: 15px;
  }

  .registr__total {
    padding: 20px 15px;
  }

  .registr__total table {
    margin-bottom: 10px;
  }

  .registr__total table td {
    padding: 7px 20px 7px 0;
    font-size: 1.25em;
  }

  .registr__total__footer {
    padding: 20px 15px 30px;
  }
}

@media only screen and (max-width: 479px) {
  body header .wrap__header__nav .nav {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  body header .wrap__header__nav .header__btn {
    width: 100%;
  }

  body header .wrap__header__nav .header__btn .wrap__language {
    margin: 0 auto;
  }

  body header .wrap__header__nav .header__btn .wrap__visual .btn__size {
    left: 15px;
    top: 32px;
  }

  .home__post__left .post__list__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .home__post__left .post__list__item .post__title {
    padding: 15px 0;
    text-align: center;
  }

  .section__page {
    padding: 35px 0;
  }

  .page__title {
    margin-bottom: 30px;
  }

  .koolitused__item {
    padding: 20px 15px 25px;
  }

  .blog__pagination {
    padding: 50px 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .blog__pagination__prev {
    margin-right: 7px;
  }

  .blog__pagination__inner {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .kohtu.pankrotih .kohtu__form__inner {
    width: 80%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .kohtu.pankrotih .kohtu__form__print {
    width: 20%;
  }
}