* {
	box-sizing: border-box;
	line-height: 1.2;
	font-family: 'Poppins', sans-serif;
	color: rgb(46, 48, 50);
}
html { 
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-size: 16px;
		overflow-x: hidden;
		background: #faf8f5;
		color: rgb(76, 83, 101);
		@media only screen and(max-width: 1680px) {
			font-size: 15px;
		}
		@media only screen and(max-width: 1439px) {
			font-size: 14px;
		}
		&.font__x2 {
			font-size: 18px;
		}
		&.font__x3 {
			font-size: 20px;
		}
		&.line__x2 {
			* {
				line-height: 2!important;
			}
		}
		&.line__x3 {
			* {
				line-height: 3!important;
			}
		}
		&.contrast {
			background: #000!important;
				color: #ff0!important;
				border-color: #ff0!important;
			* {
				background: #000!important;
				color: #ff0!important;
				border-color: #ff0!important;
			}
			.useful__item__info svg,
			.home__post__left .view__all__link svg,
			header .wrap__header__nav .header__btn .wrap__language .language__arrow,
			header .wrap__menu .nav li .submenu li a svg,
			.koolitused__item__location svg,
			.koolitused__item .buttons svg,
			.buttons.btn__o  {
				fill: #ff0!important;
				background: transparent!important;
			}
			.home__post .post__list__right li:before,
			footer .footer__form:before,
			header .wrap__menu li.menu__item__current a:before,
			.wrapper__size label span:before {
				background: #ff0!important;
			}
			.buttons,
			header .wrap__header__nav .header__btn .wrap__language select,
			header .wrap__menu .nav li .submenu {
				border: 1px solid #ff0!important;
				
			}
			header .wrap__header__nav .header__btn .wrap__language select {
				background: transparent!important;
			}
			 header .wrap__header__nav .header__btn .wrap__language:after,
			  header .burger__inner span {
				background-color: #ff0!important;
			}
			.wrapper__size::before,
			header .wrap__menu .nav li .submenu:before,
			.registr__arve label span {
				background: transparent!important;
			}
		}
		.container {
			width: 100%;
			padding-left: 65px;
			padding-right: 65px;
			@media only screen and(max-width: 1680px) {
				padding-left: 45px;
				padding-right: 45px;
			}
			@media only screen and(max-width: 1439px) {
				padding-left: 20px;
				padding-right: 20px;
				width: 1140px;
				margin: 0 auto;
			}
			@media only screen and(max-width: 1199px) {
				width: 960px;
			}
			@media only screen and(max-width: 991px) {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}
					
		}
	}
}
body h1, body h2, body h3, body h4, body h5, body h6 {
	line-height: 1.2;
}
.row:after,
.row:before {
	display: inline-block!important;
}

body a{
	cursor: pointer;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
input[type="submit"] {
	cursor: pointer;
}
button,
input,
textarea,
button:focus {outline: none}

p {font-size: 1em;  }

img {max-width: 100%}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body.open-menu {
	overflow: hidden;
}
.uppercase {
	text-transform: uppercase;
}

.row {
	display: flex;
		flex-wrap: wrap;
		
		&.no-flex {
			display: block;
		}
	&.flex {
		align-items: initial;
		justify-content: center;
		&.flex-center {
			align-items: center;
		}
		.col-xs-12 {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

/*wrapper*/
.wrapper__size {
	background: rgb(46, 48, 50);
	padding: 32px 0 26px;
	position: relative;
	display: none;
	z-index: 10;
	@media only screen and(max-width: 991px) {
		padding: 25px 0;
		height: calc(100vh - 120px);
		overflow-y: auto;
	}
	&::before {
		display: block;
		position: absolute;
		bottom: -6px;
		content: "";
		background: #2e3032;
		width: 12px;
		height: 12px;
		right: 8.5%;
		transform: rotate(-45deg);
		@media only screen and(max-width: 1439px) {
			right: 16.5%;
		}
	}
	.wrapper__size__inner {
		display: flex; 
		align-items: flex-start;
		justify-content: space-between;
		@media only screen and(max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	.wrapper__size__item__inner {
		display: flex; 
		align-items: center;
		justify-content: space-between;
		@media only screen and(max-width: 1439px) {
			flex-wrap: wrap;
		}
	}
	.wrapper__size__item {
		@media only screen and(max-width: 767px) {
			width: 100%;
			margin: 0 0 20px;
		}
	}
	.size__title {
		color: #ffffff;
		font-size: 1.375em;
		margin: 0 0 7px;
		font-weight: bold;
		@media only screen and(max-width: 1600px) {
			margin: 0 0 4px;
		}
	}

	label {
		margin: 0 10px 0 0;
		padding: 14px 20px;
		font-weight: normal;
		display: inline-flex;
		align-items: center;
		@media only screen and(max-width: 1600px) {
			padding: 10px 12px;
		}
		@media only screen and(max-width: 1439px) {
			display: flex;
			width: 100%;
			padding: 10px 15px 5px 0;
		}
		&:first-child {
			padding-left: 0;
		}
		&.label__contrast {
			background: #1b1d1e;
			span {
				color: rgb(255, 190, 88);
			}
		}
		input[type="radio"] {
			display: none;
		}
		span {
			color: #ffffff;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			font-size: 1.125em;
			padding-left: 40px;
			line-height: 30px;
			cursor: pointer;
			@media only screen and(max-width: 1600px) {
				padding-left: 35px;
			}
			@media only screen and(max-width: 1439px) {
				display: block;
				width: 100%;
			}
			&.size__2 {
				font-size: 1.375em;
			}
			&.size__3 {
				font-size: 1.6875em;
			}
			&:before {
				display: block;
				position: absolute;
				content: "";
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: #ffffff;
				@media only screen and(max-width: 1600px) {
					width: 24px;
					height: 24px;
				}
			}
			&:after {
				display: block;
				position: absolute;
				content: "";
				left: 8px;
				top: 50%;
				transform: translateY(-50%);
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background: #e6e1e1;
				transition: 0.3s ease;
				@media only screen and(max-width: 1600px) {
					width: 12px;
					height: 12px;
					left: 6px;
				}
			}
		}
		input[type="radio"]:checked + span {
			&:after {
				background: #2e3032;
			}
		}
	}
	.size__btn {
		padding: 30px 0 0 0;
		@media only screen and(max-width: 767px) {
			padding: 15px 0 0;
		}
		.seaded {
			background: #ffcb4e;
			-webkit-box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
			box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
			margin-right: 5px;
			&:hover,
			&:focus {
				background: #ffd777;
			}
		}
		.taasta__reset {
			background: transparent;
			color: #ffffff;
			&:hover,
			&:focus {
				background: #ffffff;
				color: rgb(46, 48, 50);
			}
		}
	}
}

body header {
	background: #ffffff;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	transition: 0.3s linear;
	position: relative;
	padding-bottom: 77px;
	@media only screen and(max-width: 1680px) {
		padding-bottom: 68px;
	}
	@media only screen and(max-width: 1199px) {
		padding-bottom: 52px;
	}
	@media only screen and(max-width: 991px) {
		padding-bottom: 0;
	}

	.container {
		position: static;
	}
	.header__inner {
		padding: 50px 0;
		@media only screen and(max-width: 1600px) {
			padding: 40px 0;
		}
		@media only screen and(max-width: 1439px) {
			padding: 30px 0;
		}
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	.wrap__logo {
		display: block;
		max-width: 270px;
		width: 100%;
	}

	
	.wrap__burger {
		display: none;
		z-index: 1000;
		@media only screen and(max-width: 991px) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.burger__menu {
				font-size: 1.5em;
				font-weight: bold;
				transition: 0.3s ease;
			}
		}
	}
	.burger {
		display: flex;
		align-items: center;
	}
	 .burger__inner {
		display: inline-block;
		width: 40px;
		height: 50px;
		padding: 12px 0 12px 10px;
		position: relative;
		cursor: pointer;
		z-index: 100;
		span {
			width: 100%;
			height: 3px;
			background: #2e3032;
			display: block;
			margin: 4px auto;
			transition: 0.3s ease;
		}
	}
	&.active {
		.wrap__burger {
			.burger__menu {
				@media only screen and(max-width: 991px) {
					display: none;
				}
			}
		}
		.burger__inner {
			padding-top: 18px;
		
			span:first-child {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			  }
			  span:nth-child(2) {
				-webkit-transform: scale(0);
				-ms-transform: scale(0);
				transform: scale(0);
			  }
			  span:last-child {
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				margin-top: -13px;
			  }
		}
	}
	.wrap__header__nav {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: static;
		flex-direction: row-reverse;
	
		@media only screen and(max-width: 991px) {
			position: absolute;
			left: -100%;
			top: 0;
			background: #faf8f5;
			width: 100%;
			height: 100vh;
			transition: 0.3s ease;
			z-index: 999;
			text-align: center;
			padding-top: 100px;
			padding-bottom: 20px;
			flex-direction: inherit;
			flex-wrap: wrap;
			overflow-y: auto;
			&.fix {
				overflow: hidden;
			}
		}
		&.active {
			left: 0;
		}
		
		.nav {
			@media only screen and(max-width: 479px) {
				width: 100%;
				text-align: center;
				padding-top: 10px;
			}
			li {
				display: inline-block;
				a {
					text-transform: uppercase;
					color: inherit;
					font-size: 1.125em;
					font-weight: bold;
					padding: 10px 15px; 
					background: transparent;
				}
			}
		}
		.header__btn {
			display: flex;
			align-items: center;
			@media only screen and(max-width: 479px) {
				width: 100%;
			}
			.wrap__language {
				margin: 0 11px 0 20px;
				background: #faf8f5;
				position: relative;
				border-radius: 35px;
				@media only screen and(max-width: 991px) {
					background: #ffffff;
				}
				@media only screen and(max-width: 479px) {
					margin: 0 auto;
				}
				.language__arrow {
					display: block;
					position: absolute;
					content: "";
					width: 12px;
					top: 50%;
					height: 13px;
					right: 18px;
					transform: translateY(-50%);
				}
				select {
					display: inline-block;
					position: relative;
					z-index: 1px;
					border-radius: 35px;
					text-transform: uppercase;
					font-size: 1em;
					font-weight: bold;
					padding: 18px 36px 18px 22px;
					transition: 0.3s ease;
					background: transparent;
					border: 0;
					appearance: none;
					-moz-appearance: textfield;
					cursor: pointer;
					&:focus {
						outline: none;
					}
				}
			}
			.wrap__visual {
				.btn__size {
					background: #faf8f5;
					@media only screen and(max-width: 991px) {
						position: absolute;
						top: 40px;
						background: #ffffff;
						left: 30px;
					}
					@media only screen and(max-width: 479px) {
						left: 15px;
						top: 32px;
					}
					&.active {
						color: #ffffff;
						background: #2e3032;
					}
				}
			}
		}
	}

	.wrap__menu {
		background: #2e3032;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		@media only screen and(max-width: 991px) {
			position: static;
			background: transparent;
			padding-top: 15px;
		}
		.container {
			@media only screen and(max-width: 991px) {
				padding: 0;
			}
		}
		.nav {		
			li {
				display: inline-block;
				@media only screen and(max-width: 991px) {
					display: block;
					width: 100%;
				}
				a {
					font-size: 1.125em;
					text-transform: uppercase;
					padding: 28px 30px;
					display: block;
					background: transparent;
					color: rgb(204, 209, 214);
					font-weight: bold;
					text-transform: uppercase;
					position: relative;
					z-index: 10;
					transition: 0.3s ease;
					.sub__arrow {
						display: none;
						width: 35px;
						padding: 5px 5px 5px 16px;
						vertical-align: middle;
						@media only screen and(max-width: 991px) {
							display: inline-block;
						}
					}
					@media only screen and(max-width: 1680px) {
						padding: 24px 26px;
					}
					@media only screen and(max-width: 1199px) {
						padding: 17px 20px;
					}
					@media only screen and(max-width: 991px) {
						font-size: 1.5em;
						padding: 15px 10px;
						color: #2e3032;
					}
					&:hover,
					&:focus {
						background: transparent;
						color: white;
						@media only screen and(max-width: 991px) {
						
							color: #2e3032;
						}
					}
				}
				&.menu__item__current {
					a {
						background: rgb(255, 190, 88);
						color: #2e3032;
						&:before {
							display: block;
							width: 100%;
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							background-color: rgb(250, 184, 53);
							box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.15);
							height: 4px;
						}
					}
				}
				&:hover {
					@media only screen and(min-width: 992px) {
						.submenu {
							display: block;
						}
					}
					
				}
				.submenu {
					display: none;
					position: absolute;
					background: #ffffff;
					border-radius: 0 0 10px 10px;
					padding: 25px;
					width: 360px;
					left: 0;
					top: 100%;
					-webkit-box-shadow: 0px 12px 37px 0px rgba(46,48,50,0.64);
					-moz-box-shadow: 0px 12px 37px 0px rgba(46,48,50,0.64);
					box-shadow: 0px 12px 37px 0px rgba(46,48,50,0.64);
					transition: 0.3s linear;
					&.active {
						display: block;
					}
					@media only screen and(max-width: 991px) {
						position: static;
						width: 100%;
						background: transparent;
						box-shadow: none;
						padding: 20px 10px;
					}
					&:before {
						display: block;
						position: absolute;
						content: "";
						width: 12px;
						height: 12px;
						background: #ffffff;
						top: -6px;
						left: 30%;
						transform: rotate(-45deg);
						@media only screen and(max-width: 991px) {
							display: none;
						}
					}
					li {
						width: 100%;
						margin: 0 0 10px;
						border-radius: 7px;
						background: #faf8f5;
						position: relative;
						@media only screen and(max-width: 991px) {
							background: #ffffff;
						}
						&:last-child {
							margin: 0;
						}
						a {
							font-size: 1.125em;
							font-weight: 400;
							width: 100%;
							padding: 15px 15px;
							text-transform: none;
							color: rgb(46, 48, 50);
							display: flex;
							justify-content: space-between;
							align-items: center;
							svg {
								fill: #b1b9c2;
								width: 16px;
							}
						}
					}
				}
			}
		}
	}
}

/*home__post*/
.b_white {
	background: #ffffff;
	border-radius: 12px;
}
.b_gray {
	background: #faf8f5;
	border-radius: 12px;
}

.buttons {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 35px;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	padding: 18px 30px;
	transition: 0.3s ease;
	border: 0;
	@media only screen and(max-width: 1680px) {
		padding: 15px 25px;
	}
	svg {
		width: 18px;
		height: 12px;
		margin-left: 15px;
	}
	&.btn__o {
		color: #2e3032;
		background: #ffcb4e;
		-webkit-box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
		box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
		&:hover,
		&:focus {
			background: #ffd777;
		}
	}
}


.press {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.9375em;
	color: rgb(140, 137, 130);
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid rgb(236, 231, 224);
	padding: 9px 13px;
	&.press__date {
		border: 0;
    color: #5a574e;
    padding-left: 0;
	}
}


.home__post {
	padding: 52px 0 90px;
	@media only screen and(max-width: 1600px) {
		padding: 50px 0 75px;
	}
	@media only screen and(max-width: 1199px) {
		padding: 40px 0 55px;
	}
	.col-xs-12 {
		display: flex;
		flex-wrap: wrap;
		
	}
	&__first {
		margin-bottom: 22px;
		&__inner {
			padding: 10px 0;
			@media only screen and(max-width: 1199px) {
				padding: 30px 0 10px;
			}
		}
		.wrap__img {
			img {
				border-radius: 5px;
				margin: 0 auto;
				display: block;
			}
		}
		.row {
			display: flex;
			align-items: center;
			.col-xs-12 {
				display: flex;
				flex-wrap: wrap;
				@media only screen and(max-width: 1199px) {
					display: block;
				}
			}
		}
		.home__post__first__date {
			display: flex;
			align-items: center;
		}
		.post__date {
			font-size: 1em;
			color: rgb(90, 87, 78);
			margin: 0 18px 0 0;
			font-weight: 600;
		}
		.post__title {
			font-size: 1.875em;
			color: rgb(46, 48, 50);
			font-weight: bold;
			padding-right: 10px;
			margin: 30px 0;
			@media only screen and(max-width: 1600px) {
				margin: 25px 0 ;
				font-size: 1.6em;
			}
		}
		.read__articles {
			color: rgb(46, 48, 50);
			background: rgb(255, 203, 78);
			box-shadow: 0px 5px 0px 0px rgba(255, 190, 88, 0.15);
			&:hover,
			&:focus {
				background: #ffd777;
			}
		}
		
	}
	&__left {
		padding: 12px 10px 45px;
		width: 100%;
		@media only screen and(max-width: 1600px) {
			padding: 12px  10px 35px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 20px 20px 30px;
			margin-bottom: 30px;
		}
		@media only screen and(max-width: 767px) {
			padding: 20px 15px 30px;
		}
		.post__list {
			padding-bottom: 35px;
			width: 100%;
			@media only screen and(max-width: 1600px) {
				padding-bottom: 30px;
			}
			@media only screen and(max-width: 1199px) {
				padding-bottom: 20px;
			}
			&__item {
				border-radius: 7px;
				background-color: rgb(250, 248, 245);
				padding: 25px 22px 25px 30px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0 0 10px;
				@media only screen and(max-width: 1600px) {
					padding: 20px 20px 20px 25px;
				}
				@media only screen and(max-width: 767px) {
					padding: 15px;
				}
				@media only screen and(max-width: 479px) {
					flex-wrap: wrap;
					flex-direction: column;
				}
				.post__date {
					font-size: 1em;
					margin: 0 28px 0 0;
					@media only screen and(max-width: 767px) {
						margin: 0 20px 0 0;
					}

				}
				.post__title {
					flex-grow: 3;
					font-size: 1.125em;
					font-weight: 500;
					padding-right: 15px;
					@media only screen and(max-width: 479px) {
						padding: 15px 0;
						text-align: center;
					}
				}
			}
		}
		.view__all__link {
			display: inline-flex;
			align-items: center;
			font-size: 1.125em;
			color: rgb(205, 155, 23);
			font-weight: bold;
			padding-left: 30px;
			transition: 0.3s ease;
			&:hover,
			&:focus {
				color: #ffcb4e;	
				svg {
					fill: #ffcb4e;	
				}
			}
			svg {
				display: inline-block;
				width: 21px;
				fill: rgb(205, 155, 23);
				margin-left: 1em;
				transition: 0.3s ease;
			}
		}
	}
	&__right {
		padding: 45px 35px;
		width: 100%;
		@media only screen and(max-width: 1600px) {
			padding: 40px 25px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 30px 20px 20px;
		}
		@media only screen and(max-width: 767px) {
			padding: 30px 15px 20px;
		}
	}
	.post__right__title {
		margin: 0 0 32px;
		font-size: 1.75em;
		font-weight: bold;
		@media only screen and(max-width: 1439px) {
			margin: 0 0 25px;
		}
	}
	.post__list__right {
		padding: 0;
		margin: 0;
		list-style-type: none;
	
		li {
			border-radius: 7px;
			background-color: rgb(250, 248, 245);
			padding: 25px 22px 25px 30px;
			display: block;
			position: relative;
			align-items: center;
			justify-content: space-between;
			margin: 0 0 15px;
			@media only screen and(max-width: 1600px) {
				padding: 20px 15px 20px 25px;
			}
			@media only screen and(max-width: 1439px) {
				padding: 15px 14px 15px 20px;
			}
			&:before {
				display: block;
				position: absolute;
				height: 100%;
				left: 0;
				top: 0;
				content:"";
				background: #dedbd5;
				width: 10px;
				border-radius: 7px 0 0 7px;
				@media only screen and(max-width: 1600px) {
					width: 8px;
				}
				@media only screen and(max-width: 1439px) {
					width: 6px;
				}
			}
			&.p_red {
				&:before {
					background: #ff823e;
				}
			}
			&.p_orange {
				&:before {
					background: #f9bc01;
				}
			}
			.post__date {
				margin: 0 0 8px;
				display: block;
			}
			.post__title {
				font-weight: bold;
				font-size: 1.25em;
				@media only screen and(max-width: 1600px) {
					font-size: 1.125em;
				}
			}
		}
	}
}

/*home__banner*/

.home__banner {
	margin: 0 0 80px;
	@media only screen and(max-width: 1600px) {
		margin: 0 0 60px;
	}
	@media only screen and(max-width: 1199px) {
		margin: 0 0 45px;
	}
	@media only screen and(max-width: 991px) {
		margin: 0 0 30px;
	}
	@media only screen and(max-width: 767px) {
		margin: 0 0 20px;
	}
	&__item {
		min-height: 525px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 50px 130px;
		align-content: center;
		border-radius: 12px;
	
		@media only screen and(max-width: 1600px) {
			min-height: 400px;
			padding: 30px 75px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 30px 50px;
		}
		@media only screen and(max-width: 1199px) {
			min-height: 350px;
		
		}
		@media only screen and(max-width: 991px) {
			min-height: auto;
			padding: 45px 25px;
			text-align: center;
			margin: 0 0 25px;
			flex-direction: column;
		}
		@media only screen and(max-width: 767px) {
			padding: 40px 20px;
		}
	}
	&__title {
		font-size: 2.25em;
		color: rgb(255, 255, 255);
		font-weight: bold;
		margin: 0 0 50px;
		@media only screen and(max-width: 1199px) {
			margin: 0 0 35px;
			font-size: 2em;
		}
		@media only screen and(max-width: 767px) {
			font-size: 1.75em;
			margin: 0 0 25px;
		}
	}	
	&__link {
		background: #ffffff;
		color: rgb(64, 66, 69);
	}
}

/*useful*/
.useful {
	margin-bottom: 85px;
	@media only screen and(max-width: 1600px) {
		margin-bottom: 65px;
	}
	@media only screen and(max-width: 1439px) {
		margin-bottom: 45px;
	}
	&__inner {
		padding: 62px 62px 25px;
		@media only screen and(max-width: 1600px) {
			padding: 50px 50px 20px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 40px 35px 20px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 30px 30px 20px;
		}
		@media only screen and(max-width: 767px) {
			padding: 30px 20px 10px;
		}
	}
	&__title {
		color: rgb(46, 48, 50);
		font-weight: 900;
		text-transform: uppercase;
		font-size: 1.875em;
		margin: 0 0 15px;
		@media only screen and(max-width: 1439px) {
			margin: 0 0 12px;
		}
	}
	&__text {
		max-width: 540px;
		margin: 0 0 60px;
		color: rgb(158, 162, 166);
		@media only screen and(max-width: 1600px) {
			margin: 0 0 45px;
		}
		@media only screen and(max-width: 1439px) {
			margin: 0 0 35px;
		}
	}
	
	&__item {
		border-radius: 12px;
		background: rgb(250, 248, 245);
		padding: 32px 36px 32px 14px;
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0 0 30px;
		@media only screen and(max-width: 1600px) {
			margin: 0 0 25px;
			padding: 25px 20px 25px 14px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 20px 15px 20px 14px;;
		}
		@media only screen and(max-width: 767px) {
			margin: 0 0 15px;
		}
		.wrap__img {
			width: 110px;
			margin-right: 10px;
			height: 75px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			@media only screen and(max-width: 1600px) {
				width: 90px;
			}
			@media only screen and(max-width: 1439px) {
				width: 70px;
			}
			img {
				max-width: 100%;
				max-height: 75px;
			}
		}
		&__info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: calc(100% - 120px);
			@media only screen and(max-width: 1600px) {
				width: calc(100% - 100px);
			}
			@media only screen and(max-width: 1439px) {
				width: calc(100% - 80px);
			}

			svg {
				fill: #d5cfc6;
				width: 18px;
				@media only screen and(max-width: 1600px) {
					width: 16px;
				}
			}
		}
		&__title {
			font-size: 1.375em;
			color: rgb(46, 48, 50);
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 0 7px;
			@media only screen and(max-width: 1600px) {
				margin: 0 0 4px;
			}
		}
		&__link {
			font-size: 1em;
			display: block;
			color: rgb(0, 117, 253);
		}	
	}	
}

/*footer*/
footer {
	background: #ffffff;
	.footer__top { 
		padding: 60px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and(max-width: 1600px) {
			padding: 45px 0;
		}
		@media only screen and(max-width: 1439px) {
			padding: 35px 0;
		}
		@media only screen and(max-width: 767px) {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}
	.footer__logo {
		display: inline-block;
		width: 100%;
		max-width: 305px;
	}
	.footer__form {
		display: inline-flex;
		width: 33%;
		position: relative;
		background: #faf8f5;
		border-radius: 30px;
		@media only screen and(max-width: 991px) {
			width: 45%;
		}
		@media only screen and(max-width: 767px) {
			width: 90%;
			margin: 20px auto 0; 
		}
		&:before {
			content: "\f002";
			font: normal normal normal 24px/1 FontAwesome;
			color: rgb(46, 48, 50);
			position: absolute;
			right: 6px;
			width: 62px;
			height: calc(100% - 10px);
			border-radius: 30px;
			top: 50%;
			transform: translateY(-50%);
			background: #ffbe58;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		input {
			width: 100%;
			border-radius: 30px;
			outline: none;
			border: 0;
			padding: 20px 75px 20px 32px;
			background: transparent;
			color: rgb(46, 48, 50);
			font-size: 1em;
			font-weight: 500;
			&::-webkit-input-placeholder {
				color: inherit;
			}
		}
		input[type="submit"] {
			position: absolute;
			right: 6px;
			font-size: 0;
			width: 62px;
			height: calc(100% - 10px);
			border-radius: 30px;
			top: 50%;
			transform: translateY(-50%);
			background-color: transparent!important;
			border: 0;
			padding: 0;
		
		}
	}
	.footer__inner {
		background: #faf8f5;
		border-radius: 15px;
		padding: 25px 28px;
		@media only screen and(max-width: 1600px) {
			padding: 20px 24px;
		}
		@media only screen and(max-width: 767px) {
			padding: 20px 15px;
		}
		.col-xs-12 {
			display: flex;
			@media only screen and(max-width: 1439px) {
				width: 50%;
			}
			@media only screen and(max-width: 767px) {
				width: 100%;
			}
		}
		.footer__contact {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@media only screen and(max-width: 767px) {
				width: 100%;
				max-width: 300px;
				margin: 0 auto 10px;
			}
			&__item {
				display: inline-flex;
				align-items: center;
				font-weight: 600;
				font-size: 1em;
				color: inherit;
				margin-right: 45px;
				@media only screen and(max-width: 1600px) {
					margin-right: 30px;
				}
				@media only screen and(max-width: 1439px) {
					margin-right: 20px;
					margin-bottom: 10px;
				}
				@media only screen and(max-width: 991px) {
					width: 100%;
					margin: 0 0 10px;
				}
				a {
					color: inherit;
				}
				i {
					display: inline-block;
					vertical-align: middle;
					border: 2px solid #959595;
					border-radius: 50%;
					color: #959595;
					width: 40px;
					height: 40px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					margin-right: 14px;
					font-size: 1.4em;
					@media only screen and(max-width: 1600px) {
						width: 34px;
						height: 34px;
						font-size: 1.25em;
					}
					@media only screen and(max-width: 767px) {
						margin: 0 10px 0 0;
					}
				}
			}
		}

		.footer__nav {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			@media only screen and(max-width: 1199px) {
				flex-wrap: wrap;
				justify-content: center;
			}
			li {
				display: inline-block;
				margin-left: 40px;
				@media only screen and(max-width: 1199px) {
					display: block;
					width: 100%;
				}
				&:first-child {
					margin-left: 0;
				}
				@media only screen and(max-width: 1439px) {
					margin-left: 28px;
				}
				@media only screen and(max-width: 1199px) {
					margin-left: 0;
					text-align: center;
				}
				a {
					position: relative;
					color: inherit;
					font-weight: 600;
					font-size: 1em;
					background: transparent;
					padding: 5px 0;
					@media only screen and(max-width: 1199px) {
						padding: 10px 15px;
					}
					&:after {
						display: block;
						position: absolute;
						content: "";
						width: 4px;
						height: 4px;
						background: rgb(46, 48, 50);
						top: 50%;
						transform: translateY(-50%);
						right: -22px;
						border-radius: 50%;
						@media only screen and(max-width: 1439px) {
							right: -16px;
						}
						@media only screen and(max-width: 1199px) {
							display: none;
						}
					}
				}
				&:last-child {
					a {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}
	.footer__copy {
		padding: 36px 0;
		@media only screen and(max-width: 767px) {
			padding: 25px 0;
		}
		p {
			color: inherit;
			margin: 0;
			font-weight: 600;
			@media only screen and(max-width: 767px) {
				line-height: 1.5;
			}
			a {
				display: inline-block;
				position: relative;
				padding-left: 16px;
				color: inherit;
				font-size: inherit;
				&:before{
					display: block;
					position: absolute;
					content: "";
					width: 4px;
					height: 4px;
					background: rgb(46, 48, 50);
					top: 50%;
					transform: translateY(-50%);
					left: 4px;
					border-radius: 50%;
				}
			}
		}
	}

}

/*section page*/

.section__page {
	padding: 65px 0;
	@media only screen and(max-width: 1600px) {
		padding: 55px 0;
	}
	@media only screen and(max-width: 1439px) {
		padding: 50px 0;
	}
	@media only screen and(max-width: 991px) {
		padding: 40px 0;
	}
	@media only screen and(max-width: 479px) {
		padding: 35px 0;
	}
}
.page__title {
	margin: 0 0 75px;
	font-size: 2.8em;
	font-weight: bold;
	@media only screen and(max-width: 1600px) {
		margin-bottom: 60px;
	}
	@media only screen and(max-width: 1439px) {
		margin-bottom: 50px;
	}
	@media only screen and(max-width: 991px) {
		margin-bottom: 35px;
		font-size: 2.4em;
	}
	@media only screen and(max-width: 479px) {
		margin-bottom: 30px;
	}
}

/*koolitused*/
.koolitused {
	&__item {
		margin: 0 0 22px;
		border-radius: 12px;
		padding: 40px 50px 40px 45px;
		@media only screen and(max-width: 1600px) {
			padding: 35px 40px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 30px;
			margin: 0 0 18px;
		}
		@media only screen and(max-width: 991px) {
			padding: 20px 20px 30px;
		}
		@media only screen and(max-width: 479px) {
			padding: 20px 15px 25px;
		}
		&__time {
			color: rgb(46, 48, 50);
			margin-right: 3px;
		}
		&__title {
			margin: 15px 0 45px;
			font-size: 1.6875em;
			color: rgb(51, 53, 55);
			font-weight: bold;
			@media only screen and(max-width: 1600px) {
				margin: 15px 0 35px;
			}
			@media only screen and(max-width: 1439px) {
				margin: 15px 0 25px;
			}
			@media only screen and(max-width: 991px) {
				margin: 15px 0 20px;
			}
		}
		&__location {
			display: flex;
			align-items: center;
			font-size: 1.125em;
			color: inherit;
			svg {
				fill: #ff823e;
				width: 22px;
				margin-right: 10px;
				height: 27px;
			}
		}
		.col-lg-4 {
			display: flex;
			justify-content: flex-end;
			@media only screen and(max-width: 991px) {
				justify-content: flex-start;
				margin-top: 20px;
			}
		}
		.buttons {
			display: flex;
			align-items: center;
			width: auto;
			svg {
				width: 17px;
				margin-left: 15px;
			}
		}
	}
}

/*kohtu*/

.link__page {
	display: inline-block;
	color: rgb(255, 130, 62);
	font-weight: bold;
	font-size: 1.25em;
	&:hover,
	&:focus {
		color: rgb(255, 130, 62);
	}
	svg {
		fill: rgb(255, 130, 62);
		width: 18px;
		margin-left:  10px;
	}
}

.kohtu {
	&.pankrotih {
		.kohtu__form__inner {
			@media only screen and(max-width: 1199px) and (min-width:768px) {
				width: 80%;
				justify-content: flex-start;
			}
		}
		.kohtu__form__print {
			@media only screen and(max-width: 1199px) and (min-width:768px) {
				width: 20%;
			}
		}
	}
	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 45px;
		margin-bottom: 45px;
		@media only screen and(max-width: 1600px) {
			margin-bottom: 40px;
			padding: 40px;
		}
		@media only screen and(max-width: 1439px) {
			margin-bottom: 30px;
			padding: 25px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 20px;
			flex-wrap: wrap;
		}
		@media only screen and(max-width: 991px) {
			align-items: flex-start;
		}
		@media only screen and(max-width: 767px) {
			padding: 15px;
		}
		&__inner {
			width: 80%;
			@media only screen and(max-width: 1199px) {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
			@media only screen and(max-width: 991px) {
				width: 83%;
				flex-wrap: wrap;
			}
			@media only screen and(max-width: 767px) {
				width: 100%;
			}
		}
		&__print {
			@media only screen and(max-width: 1199px) {
				width: 100%;
				text-align: right;
				margin-top: 15px;
			}
			@media only screen and(max-width: 991px) {
				width: 17%;
				margin-top: 0;
			}
			@media only screen and(max-width: 767px) {
				margin-top: -60px;
				width: 100%;
			}
			.btn__print {
				border-radius: 12px;
				border: 1px solid rgb(238, 87, 5);
				background: rgb(255, 130, 62);
				height: 73px;
				padding: 5px 20px;
				display: inline-flex;
				align-items: center;
				margin: 0;
				@media only screen and(max-width: 1600px) {
					height: 68px;
					padding: 5px 18px;
				}
				@media only screen and(max-width: 1439px) {
					height: 60px;
					padding: 5px 15px;
				}
				@media only screen and(max-width: 767px) {
					height: auto;
					padding: 10px;
				}
				svg {
					fill: #ffffff;
					width: 42px;
					height: 38px;
					@media only screen and(max-width: 1439px) {
						width: 35px;
						height: 32px;
					}
					@media only screen and(max-width: 767px) {
						width: 25px;
						height: 25px;
					}
				}
			}
		
		}
		input,
		.nice-select {
			background: #faf8f5;
			border: 1px solid rgb(184, 174, 158);
			border-radius: 12px;
			margin: 0 10px 0 0;
			display: inline-block;
			vertical-align: middle;
			padding: 25px 30px;
			font-size: 1.125em;
			color: inherit;			
			width: 27%;
			font-weight: 500;
			@media only screen and(max-width: 1600px) {
				padding: 23px 28px;
			}
			@media only screen and(max-width: 1439px) {
				padding: 20px 23px;
			}
			@media only screen and(max-width: 991px) {
				width: 48%;
				margin-bottom: 10px;
			}
			@media only screen and(max-width: 767px) {
				width: 100%;
				padding: 17px 18px;
				margin-right: 0;
			}
		}
		input::-webkit-input-placeholder {
			color: inherit;
		}
		.nice-select {
			float: none;
			height: auto; 
			line-height: 1;
			padding-right: 75px;
			&:after {
				margin: 0;
				width: 18px;
				height: 15px;
				background: url(../img/icons/arrow-down_gray.svg) no-repeat;
				background-position: center;
				background-size: 18px;
				border: 0;
				transform: rotate(0) translateY(-50%);
				top: 50%;
				right: 24px;
				@media only screen and(max-width: 1439px) {
					right: 10px;
				}
			}	
			&.open {
				&:after {
					transform: rotate(0) translateY(-50%);
				}
			}
			.list {
				width: 100%;
			}
		}
		input[type="submit"] {
			width: auto;
			font-size: 1.375em;
			font-weight: bold;
			border: 1px solid rgb(236, 164, 51);
			background: rgb(255, 190, 88);
			line-height: 1;
			@media only screen and(max-width: 767px) {
				padding: 15px 20px;;
			}
		}
	}
	&__item {
		width: 100%;
		margin-bottom: 35px;
		@media only screen and(max-width: 1600px) {
			margin-bottom: 30px;
		}
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.kohtu__item_i {
				position: relative;
				cursor: pointer;
				svg {
					fill: #ff5870;
					width: 34px;
					height: 34px;
				}
				&__info {
					position: relative;
					text-transform: uppercase;
					color: #ffffff;
					font-weight: bold;
					border-radius: 10px;
					background: #2e3032;
					display: none;
					font-size: 1em;
					padding: 17px 20px;
					position: absolute;
					right: -10px;
					bottom: 115%;
					white-space: nowrap;
					&:before {
						display: block;
						position: absolute;
				
						content:"";
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						
						border-top: 10px solid #2e3032;
						bottom: -10%;
						right: 17px;
					}
				}
				&:hover {
					.kohtu__item_i__info{
						
						display: block;
					}
				}
			}
		}
		&__header,
		&__body {
			padding: 33px 45px;
			border-bottom: 1px solid rgb(245, 242, 237);
			@media only screen and(max-width: 1600px) {
				padding: 28px 40px;
			}
			@media only screen and(max-width: 1439px) {
				padding: 24px 30px;
			}
		}
		&__title {
			margin: 0 0 10px;
			color: rgb(51, 53, 55);
			font-weight: bold;
			font-size: 1.625em;
		}
		&__tartu {
			background: #faf8f5;
		}
		&__element {
			display: flex;
			align-items: center;
			margin: 0 0 18px;
			font-size: 1.125em;
			font-weight: 500;
			@media only screen and(max-width: 1439px) {
				margin: 0 0 14px;
			}
			a {
				color: inherit;
			}
			svg {
				width: 23px;
				height: auto;
				margin-right: 15px;
			}
			span {
				display: block;
				margin-bottom: 12px;
				&:last-child {
					margin: 0;
				}
			}
			&:last-child {
				align-items: flex-start;
				margin: 0;
			}
		}
		&__footer {
			padding: 25px;
			text-align: center;
			width: 100%;
			@media only screen and(max-width: 1439px) {
				padding: 20px;
			}
		}
	}

}

/*page__list*/
.page__submenu_btn {
	display: none;
	padding: 20px;
	font-size: 1.5em;
	font-weight: bold;
	position: relative;
	margin: 0 0 10px;
	&:after {
		display: block;
		position: absolute;
		content: "";
		width: 18px;
		height: 14px;
		right: 30px;
		background: url(../img/icons/if_arrow-down-01_186411.svg) no-repeat center;
		background-size: 18px;
		top: 50%;
		transform: translateY(-50%);
		
	}
	
	@media only screen and(max-width: 991px) {
		display: block;
		&.active {
			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}

.page__list {
	padding: 35px 45px;
	@media only screen and(max-width: 1600px) {
		padding: 30px 40px;
	}
	@media only screen and(max-width: 1439px) {
		padding: 24px 30px;
	}
	@media only screen and(max-width: 991px) {
		
		margin-bottom: 25px;
		display: none;
		padding: 20px;
	}
	.nav {
		li {
			margin-bottom: 15px;
			@media only screen and(max-width: 1439px) {
				margin-bottom: 10px;
			}
			&:last-child {
				margin-bottom: 10px;
			}
			a {
				padding: 5px 0;
				color: rgb(51, 53, 55);
				font-size: 1.3125em;
				font-weight: 500;
				background: transparent;
				display: block;
				&:hover,
				&:focus {
					background: transparent;
				}
			}
			.page__submenu {
				list-style-type: none;
				padding: 22px 0 10px 0;
				@media only screen and(max-width: 1600px) {
					padding: 18px 0 8px;
				}
				@media only screen and(max-width: 1439px) {
					padding: 14px 0 4px;
				}
				li {
					position: relative;
					padding-left: 18px;
					margin-bottom: 5px;
					a {
						font-size: 1.25em;
					}
					&:before {
						display: block;
						position: absolute;
						top: 50%;
						left: 2px;
						transform: translateY(-50%);
						width: 10px;
						height: 2px;
						background: #2e3032;
						content: "";
					}
					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
	
}
/*page__content*/
.page__content {
	padding: 52px 45px;
	@media only screen and(max-width: 1600px) {
		padding: 45px 40px;
	}
	@media only screen and(max-width: 1439px) {
		padding: 35px 30px;
	}
	@media only screen and(max-width: 991px) {
		padding: 30px 20px;
	}
	@media only screen and(max-width: 767px) {
		padding: 25px 15px;
	}
	&__title {
		font-size: 2.25em;
		font-weight: bold;
		margin: 0 0 40px;
		@media only screen and(max-width: 1600px) {
			margin: 0 0 35px;
		}
		@media only screen and(max-width: 991px) {
			margin: 0 0 25px;
			font-size: 2em;
		}
		@media only screen and(max-width: 767px) {
			font-size: 1.75em;
		}
	}	
	p {
		font-size: 1.2em;
		font-weight: 500;
		text-align: justify;
		margin: 0 0 28px;
		line-height: 1.846;
		@media only screen and(max-width: 1600px) {
			margin: 0 0 24px;
			font-size: 1.125em;
			line-height: 1.75;
		}
		&:last-child {
			margin: 0 0 15px;
		}
	}
	.panel-group {
		padding: 25px 0;
		@media only screen and(max-width: 1600px) {
			padding: 15px 0;
		}
		@media only screen and(max-width: 1439px) {
			padding: 5px 0;
		}
		.panel {
			margin: 0 0 7px!important;
			box-shadow: none;
			border: 0;
			background: #faf8f5;
			border-radius: 12px;
			
			&:first-child {
				.panel-heading {
					.panel-title {
						&:after {
							transform: translateY(-50%) rotate(180deg);
						}
						&[aria-expanded="false"] {
							&:after {
								transform: translateY(-50%) rotate(0);
							}
						}
					}
				}
			}
			.panel-heading {
				background: transparent;
				border: 0;
				padding: 0;
				 .panel-title {
					display: block;
					border-radius: 12px;
					background: #faf8f5;
					font-size: 1.25em;
					font-weight: bold;
					padding: 25px 35px;
					color: inherit;
					position: relative;
					@media only screen and(max-width: 1600px) {
						padding: 22px 30px;
					}
					@media only screen and(max-width: 1439px) {
						padding: 18px 25px;
					}
					&:after {
						display: block;
						position: absolute;
						content: "";
						width: 18px;
						height: 14px;
						right: 30px;
						background: url(../img/icons/if_arrow-down-01_186411.svg) no-repeat center;
						background-size: 18px;
						top: 50%;
						transform: translateY(-50%);
						@media only screen and(max-width: 1439px) {
							background-size: 16px;
						}
					}
					&[aria-expanded="true"] {
						&:after {
							transform: translateY(-50%) rotate(180deg);
						}
					}
					
				}
			}
			.panel-body {
				border-top: 1px solid #dfd8cd;
				border-radius: 12px;
				font-size: 1.125em;
				line-height: 1.875;
				padding: 30px 35px;
				text-align: justify;
				font-weight: 500;
				@media only screen and(max-width: 1600px) {
					padding: 24px 30px;
				}
				@media only screen and(max-width: 1439px) {
					padding: 20px 25px;
				}
			}
		}
	}
}

/*team*/
.team {
	padding: 30px 0 0;
	@media only screen and(max-width: 1600px) {
		padding-top: 20px;
	}
	@media only screen and(max-width: 1439px) {
		padding-top: 15px;
	}
	&__title {
		text-transform: uppercase;
		margin: 0 0 55px;
		font-weight: bold;
		font-size: 1.375em;
		@media only screen and(max-width: 1600px) {
			margin-bottom: 45px;
		}
		@media only screen and(max-width: 1439px) {
			margin-bottom: 35px;
		}
	}
	&__img {
		height: 100%;	
		width: 155px;
		border-radius: 5px;
		height: 210px;
		margin-right: 40px;
		@media only screen and(max-width: 1600px) {
			margin-right: 28px;
		}
		@media only screen and(max-width: 1439px) {
			margin-right: 20px;
		}
	}
	&__item {
		background: #faf8f5;
		border-radius: 12px;
		padding: 32px;
		display: flex;
		width: 100%;
		margin: 0 0 22px;
		align-items: center;
		@media only screen and(max-width: 1600px) {
			padding: 25px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 20px 15px;
		}
		@media only screen and(max-width: 767px) {
			flex-wrap: wrap;
			flex-direction: column;
		}
		&:last-child {
			margin: 0;
		}
		&__inner {
			width: 80%;
			@media only screen and(max-width: 1199px) {
				width: 70%;
			}
			@media only screen and(max-width: 767px) {
				width: 100%;
				padding-top: 15px;
			}
		}
		&__title {
			font-size: 1.75em;
			margin: 0 0 16px;
			font-weight: bold;
		}
		&__element {
			margin: 0 0 12px;
			@media only screen and(max-width: 1600px) {
				margin-bottom: 10px;
			}
			&:last-child {
				margin: 0;
			}
			span {
				font-size: 1em;
				font-weight: bold;
			}
		}
		&__info {
			margin: 0;
			font-size: 1em;
			line-height: 1.2;
			font-weight: 500;
			a {
				color: inherit;
			}
		}
	}
}


/*blog*/
.blog {
	&__img {
		border-radius: 5px;
		width: 100%;
		height: 300px;
		@media only screen and(max-width: 1439px) {
			height: 260px;
		}
		
	}

	&__item {
		width: 100%;
		padding: 18px 17px 45px;
		margin-bottom: 45px;
		@media only screen and(max-width: 1600px) {
			margin-bottom: 35px;
			padding: 15px 15px 40px;
		}
		@media only screen and(max-width: 1439px) {
			margin-bottom: 30px;
		}
		@media only screen and(max-width: 767px) {
			padding: 15px 15px 25px;
		}
		&__inner {
			padding: 22px 15px 0;
			@media only screen and(max-width: 1439px) {
				padding: 18px 12px 0;
			}
			@media only screen and(max-width: 767px) {
				padding: 18px 6px 0;
			}
		}
		&__date {
			border: 0;
			color: rgb(90, 87, 78);
			padding-left: 0;
		}
		&__title {
			font-size: 1.7em;
			margin: 16px 0 25px;
			font-weight: bold;
			@media only screen and(max-width: 1439px) {
				font-size: 1.6em;
			}
		}
		&__link {
			font-size: 1.125em;
		}
	}
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 70px 0 65px;
		@media only screen and(max-width: 1600px) {
			padding: 40px 0;
		}
		@media only screen and(max-width: 1439px) {
			padding: 30px 0 25px;
		}
		@media only screen and(max-width: 767px) {
			padding: 20px 0 15px;
		}
		@media only screen and(max-width: 479px) {
			padding: 50px 0 0; 
			justify-content: center;
		}
		&__prev {
			transform: rotate(90deg);
			@media only screen and(max-width: 479px) {
				margin-right: 7px;
			}
		}
		&__next {
			transform: rotate(-90deg);
		}
		svg {
			width: 18px;
			height: 12px;
			@media only screen and(max-width: 767px) {
				width: 15px;
				height: 10px;
			}
		}
		&__inner {
			.blog__btn {
				margin: 0 2px;
				@media only screen and(max-width: 767px) {
					margin: 0;
				}
			}
			@media only screen and(max-width: 479px) {
				position: absolute;
				top: 0;
				width: 100%;
				text-align: center;
			}
		}
	}
	&__btn {
		display: inline-flex;
		width: 65px;
		height: 65px;
		align-items: center;
		justify-content: center;
		font-size: 1.375em;
		color: inherit;
		&:hover,
		&:focus {
			color: black;
		}
		@media only screen and(max-width: 1600px) {
			width: 60px;
			height: 60px;
		}
		@media only screen and(max-width: 767px) {
			width: 38px;
			height: 38px;
		}
	}
}

/*in-blog*/

.in-blog {
	padding: 45px ;	
	&__image {
		padding: 0 0 45px 45px;
		border-radius: 5px;
		@media only screen and(max-width: 1600px) {
			padding: 0 0 30px 40px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 0 0 20px 0;
		}
	}
	&__subtitle {
		font-size: 1.75em;
		margin: 0 0 15px;
	}
	&__title {
		font-size: 2.8em;
		margin: 0 0 14px;
		font-weight: bold;
		@media only screen and(max-width: 767px) {
			font-size: 2em;
		}
	}
	&__author {
		margin: 22px 0 50px;
		@media only screen and(max-width: 1600px) {
			margin: 18px 0 40px;
		}
		@media only screen and(max-width: 1439px) {
			margin: 15px 0 25px;
		}
		&__title {
			font-size: 1.375em;
			font-weight: bold;
			margin: 0;
		}
		&__info {
			font-size: 1.125em;
			margin: 0 0 10px;
			color: rgb(154, 159, 163);
		}
		a {
			color: inherit;
			font-size: 1.125em;
			display: inline-flex;
			align-items: center;
			vertical-align: top;
			margin-right: 20px;
			font-weight: 500;
			svg {
				width: 23px;
				height: auto;
				margin-right: 15px;
			}
		}
	}
	&__content {
		p {
			padding-right: 50px;
			@media only screen and(max-width: 1600px) {
				padding-right: 30px;
			}
			@media only screen and(max-width: 1439px) {
				padding-right: 0;
			}
		}
	}
	&__recent {
		border-radius: 12px;
		background: #faf8f5;
		padding: 45px 40px 38px;
		@media only screen and(max-width: 1600px) {
			padding: 40px 30px 35px;
		}
		@media only screen and(max-width: 1439px) {
			padding: 30px 20px 30px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 25px 15px 25px;
		}
		&__title {
			margin: 0 0 40px;
			font-size: 1.75em;
			font-weight: bold;
			@media only screen and(max-width: 1600px) {
				margin: 0 0 30px;
			}
			@media only screen and(max-width: 1439px) {
				margin-bottom: 25px;
			}
		}
		&__item {
			padding: 18px 32px 25px;
			margin:  0 0 15px;
			@media only screen and(max-width: 1600px) {
				padding: 18px 24px 25px;
			}
			@media only screen and(max-width: 1439px) {
				padding: 15px 18px 20px;
			}
			&__title {
				font-size: 1.25em;
				font-weight: bold;
				margin: 12px 0 0;
			}
			&:last-child {
				margin: 0;
			}
		}
		
	}
	&__link {
		font-size: 1.25em;
		margin-top: 20px;
		@media only screen and(max-width: 1439px) {
			margin-top: 10px;
		}
	}

}
/*koolitus__in*/

.koolitus__in {
	padding: 35px 45px;
	@media only screen and(max-width: 1439px) {
		padding: 30px;
	}
	@media only screen and(max-width: 767px) {
		padding: 20px 15px;
	}
	&__left {
		padding-right: 10px;
		@media only screen and(max-width: 1600px) {
			padding: 0;
		}
	}
	&__right {
		padding: 10px 15px 0;
		@media only screen and(max-width: 1600px) {
			padding: 10px 10px 0;
		}
		@media only screen and(max-width: 1439px) {
			padding: 0;
		}
		@media only screen and(max-width: 1199px) {
			padding: 20px 0;
		}
	}
	&__subtitle {
		font-size: 1.375em;
		color: rgb(51, 53, 55);
		 font-weight: 600;
		 margin: 0 0 20px;
		@media only screen and(max-width: 1199px) {
			margin: 0 0 15px;
		}
	}
	&__title {
		font-size: 2.25em;
		margin: 0 0 40px;
		font-weight: bold;
		max-width: 90%;
		@media only screen and(max-width: 1199px) {
			max-width: 100%;
			font-size: 1.9em;
		}
		@media only screen and(max-width: 767px) {
			font-size: 1.75em;
			margin: 0 0 30px;
		}
	}
	&__teemad {
		margin: 0 0 35px;
		@media only screen and(max-width: 767px) {
			margin: 0 0 25px;
		}
		&__title {
			font-size: 1.375em;
			color: rgb(51, 53, 55);
			 font-weight: bold;
			 margin: 0 0 10px;
		}
		p {
			font-size: 1.3em;
			margin: 0;
		}
	}
	&__programm {
		&__title {
			font-size: 1.75em;
			margin: 0 0 35px;
			font-weight: bold;
			@media only screen and(max-width: 767px) {
				margin: 0 0 25px;
			}
		}	
		&__item {
			border-radius: 10px;
			background: #faf8f5;
			padding: 32px;
			display: flex;
			align-items: flex-start;
			margin: 0 0 15px;
			width: 100%;
			@media only screen and(max-width: 1600px) {
				padding: 28px;
			}
			@media only screen and(max-width: 1439px) {
				padding: 20px 24px;
			}
			@media only screen and(max-width: 767px) {
				padding: 18px;
			}
		}
		&__time {
			font-weight: 500;
			font-size: 1.125em;
			margin-right: 35px;
			@media only screen and(max-width: 1439px) {
				margin-right: 25px;
			}
			@media only screen and(max-width: 1199px) {
				margin-right: 15px;
			}
			@media only screen and(max-width: 767px) {
				margin-right: 12px;
			}
		}
		&__info {
			margin: 0;
			font-weight: bold;
			font-size: 1.3em;
		}
		&__author {
			margin: 5px 0 0;
			font-weight: bold;
			font-size: 0.866em;
			display: block;
			span {
				font-weight: normal;
				color: #96918a;
			}
		}
	}
	&__loc__info {
		padding-bottom: 40px;
		@media only screen and(max-width: 1600px) {
			padding-bottom: 30px;
		}
		@media only screen and(max-width: 1439px) {
			padding-bottom: 15px;
		}
		&__element {
			display: flex;
			align-items: center;
			margin: 0 0 24px;
			font-weight: 500;
			font-size: 1.125em;
			max-width: 95%;
			span {
				display: inline-block;
				width: calc(100% - 40px);
				strong {
					margin-right: 15px;
					display: inline-block;
					vertical-align: middle;
				}
			}
			@media only screen and(max-width: 1439px) {
				margin: 0 0 15px;
				max-width: 100%;
			}
			svg {
				fill: #ff823e;
				width: 25px;
				height: 25px;
				margin-right: 15px;
			}
		}
	}
	&__esinejad {
		margin-bottom: 100px;
		@media only screen and(max-width: 1600px) {
			margin-bottom: 80px;
		}
		@media only screen and(max-width: 1439px) {
			margin-bottom: 50px;
		}
		@media only screen and(max-width: 767px) {
			margin-bottom: 30px;
		}
		&__title {
			font-size: 1.75em;
			font-weight: bold;
			margin: 0 0 32px;
			@media only screen and(max-width: 767px) {
				margin: 0 0 25px;
			}
		}
		&__item {
			background: #faf8f5;
			border-radius: 10px;
			padding: 25px 32px;
			margin-bottom: 12px;
			@media only screen and(max-width: 1439px) {
				padding: 20px 24px;
			}
			@media only screen and(max-width: 767px) {
				padding: 18px;
			}
			&:last-child {
				margin: 0;
			}
			h4 {
				font-size: 1.375em;
				margin: 0;
				font-weight: bold;
			}
			p {
				font-size: 1.125em;
				color: #96918a;
				margin: 0;
			}
		}
	}
	&__price {
		background: #faf8f5;
		border-radius: 10px;
		padding: 28px 30px 25px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		@media only screen and(max-width: 1439px) {
			padding: 20px 24px;
			margin-bottom: 35px;
		}
		@media only screen and(max-width: 767px) {
			padding: 18px;
		}
		span {
			font-size: 1.125em;
			display: block;
			margin: 0 ;
		}
		&__item__num {
			font-size: 2.125em;
			font-weight: 600;
			@media only screen and(max-width: 767px) {
				font-size: 2em;
			}
		}
	}
	&__info {
		&__alates {
			font-weight: bold;
			font-size: 1.125em;
			span {
				font-weight: 500;
				color: rgb(140, 150, 161);
				display: block;
				margin: 5px 0 0;
				
			}
		}
		&__reg {
			color: rgb(140, 150, 161);
			font-size: 1.125em;
			font-weight: 500;
			span {
				color: #ff823e;
				display: block;
				margin: 12px 0 0 ;
				font-weight: 600;
			}
		}
	}
	&__link {
		margin: 50px 0 35px;
		font-size: 1.125em;
		@media only screen and(max-width: 1439px) {
			margin: 40px 0 30px;
		}
		@media only screen and(max-width: 767px) {
			margin: 30px 0;
		}
	}
	
}

/*registr*/


label.label__checkbox {
	margin: 0;
	input {
		display: none;
	}
	input[type="checkbox"]:checked + .checkbox__content  {
		&:before {
			border: 2px solid #6ece87;
		}
		&:after {
			background-color: #6ece87;
			background-image: url(../img/icons//if_Ok_984756.svg);
			background-position: center;
			background-size: 13px;
			background-repeat: no-repeat;
			@media only screen and(max-width: 1199px) {
				background-size: 11px;
			}
		}	
	}
	.checkbox__content {
		padding: 10px 10px 10px 40px;
		position: relative;
		display: block;
		font-size: 1.125em;
		font-weight: normal;
		cursor: pointer;
		a {
			color: #3d84fe;
			text-decoration: underline;
		}
		&:before {
			width: 30px;
			height: 30px;
			border: 2px solid #dad2c5;
			background: white;
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			@media only screen and(max-width: 1199px) {
				width: 24px;
				height: 24px;
			}
		}
		&:after {
			width: 20px;
			height: 20px;
			background-color: #dad2c5;
			display: block;
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 5px;
			@media only screen and(max-width: 1199px) {
				width: 14px;
				height: 14px;
			}
		}
	}
}

.registr {
	&__inner {
		padding: 40px 45px;
		margin-bottom: 55px;
		@media only screen and(max-width: 1600px) {
			padding: 30px 35px 35px;
			margin-bottom: 45px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 30px 25px;
		}
		@media only screen and(max-width: 767px) {
			padding: 25px 15px;
		}
		&.registr__inner__total {
			padding: 0;
		}
		&:last-child {
			margin-bottom: 20px;
		}
	}
	&__title {
		margin: 0 0 25px;
		font-weight: bold;
		font-size: 2.25em;
		@media only screen and(max-width: 767px) {
			font-size: 2em;
		}
	}
	&__subtitle {
		margin: 0 0 35px;
		font-weight: bold;
		font-size: 1.75em;
		@media only screen and(max-width: 1199px) {
			margin-bottom: 25px;
		}
		@media only screen and(max-width: 767px) {
			font-size: 1.5em;
		}
	}
	&__item {
		padding: 25px 35px;
		margin-bottom: 35px;
		@media only screen and(max-width: 1600px) {
			padding: 20px 25px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 20px;
			margin-bottom: 30px;
		}
		@media only screen and(max-width: 767px) {
			padding: 18px;
		}
		&__date {
			font-size: 1.125em;
			display: block;
			margin: 0 0 10px;
			font-weight: 500;
		}	
		p {
			margin: 0;
			font-size: 1.3em;
			font-weight: 500;
		}
	}
	&__price {
		&__title {
			margin: 0 0 25px;
			font-weight: bold;
			font-size: 1.75em;
			@media only screen and(max-width: 767px) {
				font-size: 1.5em;
			}
		}
		label {
			margin: 0 20px 0 0;
			display: inline-block;
			vertical-align: top;
			width: 100%;
			max-width: 310px;
			cursor: pointer;
			@media only screen and(max-width: 767px) {
				max-width: 100%;
				margin-bottom: 15px;
			}
			input {
				display: none;
				&:checked + .registr__price__item {
					background: #eeeae5;
					box-shadow: inset 0px 6px 0px 0px rgba(234, 228, 218, 0.4);
					border: 2px solid rgb(205, 196, 183);
					&:before {
						box-shadow: 0px 3px 0px 0px rgba(226, 218, 208, 0.4);
						border: 1px solid #d1cdc7;
					}
					&:after {
						background: #f39f35;
					}
					.registr__price__item__num {
						border: 1px solid #cec3b4;
					}
				}
			}
			
		}
		&__item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 7px;
			border: 2px solid rgb(227, 221, 212);
			box-shadow: 0px 4px 0px 0px rgba(170, 159, 142, 0.05);
			padding: 15px 15px 15px 65px;
			background: #faf8f5;
			width: 100%;
			position: relative;
			&:before {
				display: block;
				content: "";
				width: 30px;
				height: 30px;
				border-radius: 50%;
				box-shadow: 0px 3px 0px 0px rgba(248, 243, 235, 0.04);
				background: #ffffff;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 22px;
				border: 1px solid #f7eee2;
			}
			&:after {
				display: block;
				content: "";
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background: #ddd5c8;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 29px;
			}
			&__name {
				font-size: 1.125em;
				font-weight: bold;
			}
			&__num {
				display: inline-block;
				font-weight: bold;
				font-size: 1em;
				padding: 8px 13px;
				background: #ffffff;
				border-radius: 4px; 
				border: 1px solid rgb(236, 231, 224);
			}
		}
	}
	&__list {
		&__item {
			position: relative;
			padding: 3px 3px 3px 46px;
			border-radius: 7px;
			background: #faf8f5;
			margin-bottom: 22px;
			@media only screen and(max-width: 1439px) {
				margin-bottom: 18px;
			}
			&__num {
				background: #ffffff;
				position: absolute;
				width: 40px;
				height: calc(100% - 6px);
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-size: 1.35em;
				color: rgb(118, 124, 131);
				font-weight: 500;
				left: 3px;
				border-radius: 7px 0 0 7px;
			}
			&__inner {
				display: flex;
				align-items: center;
				padding: 16px 25px;
				@media only screen and(max-width: 1439px) {
					padding: 14px 20px;
				}
				@media only screen and(max-width: 767px) {
					padding: 14px 10px;
					flex-wrap: wrap;
				}
				label {
					margin: 0 20px 0 0;
					font-weight: normal;
					@media only screen and(max-width: 767px) {
						width: 100%;
						margin: 0 0 15px;
					}
				}
				
				input {
					font-size: 1.125em;
					color: rgb(51, 53, 55);
					border: 2px solid #dfd9d0;
					border-radius: 7px;
					padding:  15px 18px;
					width: 100%;
					max-width: 315px;
					font-weight: 500;
					&::-webkit-input-placeholder {
						color: rgb(51, 53, 55);
					}
					@media only screen and(max-width: 767px) {
						max-width: 100%;
					}
				}
			}
			&__label__name {
				font-size: 1em;
				color: rgb(163, 156, 146);
				display: block;
				margin: 0 0 6px;
			}
		}
		&__btn {
			padding: 15px 0 0 0;
			@media only screen and(max-width: 1199px) {
				padding-top: 5px;
			}
			&__item {
				display: inline-flex;
				align-items: center;
				font-size: 1.25em;
				font-weight: bold;
				color: inherit;
				margin-right: 43px;
				&:last-child {
					margin: 0;
				}
				@media only screen and(max-width: 767px) {
					width: 100%;
					margin: 0 0 15px; 
				}
				&:hover,
				&:focus {
					color: inherit;
				}
				&.btn__minus {
					span {
						background: #ff6678;
					}
				}
				span {
					border-radius: 50%;
					width: 30px;
					height: 30px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					font-size: 1.5em;
					font-weight: 900;
					color: #ffffff;
					background: #2574f6;
					margin-right: 15px;
				}
			}
		}
		.label__checkbox {
			margin-top: 20px;
			margin-left: 15px;
			@media only screen and(max-width: 1439px) {
				margin-left: 0;
			}
			@media only screen and(max-width: 767px) {
				margin: 0;
			}
		}
	}

	&__arve {
		
		label {
			font-weight: normal;
			margin: 0 0 22px;
			border-radius: 7px;
			border: 2px solid rgb(212, 206, 198);
			background-color: rgb(250, 248, 245);
			position: relative;
			width: 100%;
			padding: 10px 20px;
			display: flex;
			align-items: center;
			height: 90px;
			flex-wrap: wrap;
			@media only screen and(max-width: 1600px) {
				height: 84px;
			}
			@media only screen and(max-width: 1199px) {
				height: 70px;
			}
			@media only screen and(max-width: 767px) {
				margin-bottom: 15px;
			}
			span {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 1.375em;
				font-weight: bold;
				transition: 0.3s ease;
				display: block;
			}
			input {
				background: transparent;
				border: 0;
				font-size: 1.375em;
				font-weight: bold;
				transition: 0.3s ease;
				width: 100%;

			}
			&.active {
				span {
					font-size: 0.9375em;
					color: rgb(163, 156, 146);
					font-weight: normal;
					position: relative;
					transform: translate(0);
					top: 0;
				}

			}
		}
	}
	&__total {
		padding: 30px 45px 30px;
		@media only screen and(max-width: 1600px) {
			padding: 30px 35px 25px;
		}
		@media only screen and(max-width: 1199px) {
			padding: 25px;
		}
		@media only screen and(max-width: 767px) {
			padding: 20px 15px;
		}
		table {
			margin-bottom: 20px;
			@media only screen and(max-width: 767px) {
				margin-bottom: 10px;
			}
			td {
				font-size: 1.75em;
				font-weight: 500;
				padding: 10px 50px 10px 0;
				@media only screen and(max-width: 1199px) {
					font-size: 1.5em;
					padding: 7px 40px 7px 0;
				}
				@media only screen and(max-width: 767px) {
					padding: 7px 20px 7px 0;
					font-size: 1.25em;
				}
			}
			tr {
				&:last-child {
					td {
						font-weight: bold;
					}
				}
			}
		}
		.label__checkbox {
			display: block;
		}
		&__footer {
			padding: 45px;
			border-top: 1px solid rgb(243, 240, 234);
			@media only screen and(max-width: 1600px) {
				padding: 35px;
			}
			@media only screen and(max-width: 1199px) {
				padding: 25px;
			}
			@media only screen and(max-width: 767px) {
				padding: 20px 15px 30px;
			}
			p {
				margin: 0;
				font-size: 1.125em;
			}
			&__in {
				text-align: right;
				width: 100%;
				@media only screen and(max-width: 991px) {
					text-align: center;
					margin-top: 15px;
				}
			}
		}
		
	}
	
}
